<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="GlobalDatabaseSetupFixture.TestDatabaseTemplateName" value="EdFi_Ods_Populated_Template_Test" />
  </appSettings>
  <log4net>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="TraceAppender" />
    </root>
    <logger name="NHibernate">
      <level value="WARN" />
    </logger>
  </log4net>
  <connectionStrings>
    <!--Clear is needed because there is always a SQLExpress default connection.-->
    <clear />
    <add name="EdFi_Ods" connectionString="Database=ShouldBeReplacedByTests; Data Source=(local); Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="UniqueIdIntegrationContext" connectionString="Data Source=(local);Database=UniqueId;Trusted_Connection=True" providerName="System.Data.SqlClient" />
    <add name="NHibernatePlaceholder" connectionString="PLACEHOLDER-Required-but-Ignored-By-EdFiOdsConnectionProvider" />
    <add name="EdFi_master" connectionString="Database=master; Data Source=(local); Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.MsSql2012Dialect</property>
      <property name="connection.provider">EdFi.Ods.Api.Common.Infrastructure.ConnectionProviders.EdFiOdsConnectionProvider, EdFi.Ods.Api.Common</property>
      <property name="connection.driver_class">EdFi.Ods.Api.Common.Infrastructure.Architecture.SqlServer.EdFiSql2008ClientDriver, EdFi.Ods.Api.Common</property>
      <property name="connection.connection_string_name">NHibernatePlaceholder</property>
      <property name="connection.isolation">ReadCommitted</property>
      <property name="default_schema">edfi</property>
      <property name="current_session_context_class">async_local</property>
      <property name="adonet.batch_size">20</property>
      <!--
        Disable the hbm2ddl keywords feature.
         - The keywords feature causes the database to be hit as soon as the session factory is created.
         - If tracing is enabled and a trace listener is added (for instance, in Azure), then controllers are instantiated outside of the request.
         - Since we are calculating connection information based on headers in the request, we have no connection information during trace time, and NHibernate throws an exception.
      -->
      <property name="hbm2ddl.auto">none</property>
      <property name="hbm2ddl.keywords">none</property>
     </session-factory>
  </hibernate-configuration>
  <runtime>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
