<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="nuget.org v2" value="https://www.nuget.org/api/v2/" />
    <add key="Ed-Fi Alliance Azure Artifacts Feed" value="https://pkgs.dev.azure.com/ed-fi-alliance/Ed-Fi-Alliance-OSS/_packaging/EdFi/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <!-- Ed-Fi packages come from Azure Artifacts -->
    <packageSource key="Ed-Fi Alliance Azure Artifacts Feed">
      <package pattern="EdFi.*" />
    </packageSource>
    <!-- All other packages come from NuGet.org -->
    <packageSource key="nuget.org v2">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
  <packageRestore>
	<!-- The 'automatic' key is set to True when the "Automatically check for missing packages during
		 build in Visual Studio" checkbox is set. Clearing the box sets this to False and disables
		 automatic restore. -->
	<add key="automatic" value="True" />
	<!-- The 'enabled' key is True when the "Allow NuGet to download missing packages" checkbox is set.
		 Clearing the box sets this to False, disabling command-line, automatic, and MSBuild-Integrated restore. -->
	<add key="enabled" value="True" />
  </packageRestore>
</configuration>