-- {{Schema}}.{{TableName}}
WITH source AS (
    SELECT
    {{#PrimaryKeyColumns}}
        {{#IsSchoolYearContext}}
            {{^IsFirst}}, {{/IsFirst}}@schoolYearContext AS ContextSchoolYear
        {{/IsSchoolYearContext}}
        {{#IsConcreteDescriptorId}}
            {{^IsFirst}}, {{/IsFirst}}pkc_td{{Index}}.DescriptorId AS {{ColumnName}}
        , pkc_td{{Index}}.Namespace AS {{ColumnName}}_Namespace
        , pkc_td{{Index}}.CodeValue AS {{ColumnName}}_CodeValue
        {{/IsConcreteDescriptorId}}
        {{#IsPersonUSIUsage}}
            {{^IsFirst}}, {{/IsFirst}}pkc_tp{{Index}}.{{PersonType}}USI AS {{ColumnName}}
        , pkc_tp{{Index}}.{{PersonType}}UniqueId AS {{ColumnName}}_UniqueId
        {{/IsPersonUSIUsage}}
        {{^IsSchoolYearContext}}
            {{^IsConcreteDescriptorId}}
                {{^IsPersonUSIUsage}}
            {{^IsFirst}}, {{/IsFirst}}{{#HasServerAssignedSurrogateId}}target.{{/HasServerAssignedSurrogateId}}{{^HasServerAssignedSurrogateId}}source.{{/HasServerAssignedSurrogateId}}{{ColumnName}}
                {{/IsPersonUSIUsage}}
            {{/IsConcreteDescriptorId}}
        {{/IsSchoolYearContext}}
    {{/PrimaryKeyColumns}}
    {{#NonPrimaryKeyColumns}}
        {{#IsConcreteDescriptorId}}
        , npkc_td{{Index}}.DescriptorId AS {{ColumnName}}
        , npkc_td{{Index}}.Namespace AS {{ColumnName}}_Namespace
        , npkc_td{{Index}}.CodeValue AS {{ColumnName}}_CodeValue
        {{/IsConcreteDescriptorId}}
        {{#IsPersonUSIUsage}}
            , npkc_tp{{Index}}.{{PersonType}}USI AS {{ColumnName}}
        , npkc_tp{{Index}}.{{PersonType}}UniqueId AS {{ColumnName}}_UniqueId
        {{/IsPersonUSIUsage}}
        {{^IsConcreteDescriptorId}}
            {{^IsPersonUSIUsage}}
            , source.{{ColumnName}}
            {{/IsPersonUSIUsage}}
        {{/IsConcreteDescriptorId}}
    {{/NonPrimaryKeyColumns}}
    {{#HasBoilerplateColumns}}
    -- Boilerplate columns
        {{#BoilerplateColumns}}
            , source.{{ColumnName}}
        {{/BoilerplateColumns}}
    {{/HasBoilerplateColumns}}
    {{#DiscriminatorColumn}}
            , source.{{ColumnName}}
    {{/DiscriminatorColumn}}
    FROM {{SourceDatabaseName}}.{{Schema}}.{{TableName}} source
    {{#HasServerAssignedSurrogateId}}
        LEFT JOIN {{Schema}}.{{TableName}} target
        {{#AlternateKeyColumns}}
                {{#IsFirst}}ON {{/IsFirst}}{{^IsFirst}}AND {{/IsFirst}}source.{{ColumnName}} = target.{{ColumnName}}
        {{/AlternateKeyColumns}}
    {{/HasServerAssignedSurrogateId}}
    {{#PrimaryKeyColumns}}
        {{#IsConcreteDescriptorId}}
        LEFT JOIN {{SourceDatabaseName}}.edfi.Descriptor pkc_sd{{Index}}
            ON source.{{ColumnName}} = pkc_sd{{Index}}.DescriptorId
        LEFT JOIN edfi.Descriptor pkc_td{{Index}}
            ON pkc_sd{{Index}}.CodeValue = pkc_td{{Index}}.CodeValue AND pkc_sd{{Index}}.Namespace = pkc_td{{Index}}.Namespace
        {{/IsConcreteDescriptorId}}
        {{#IsPersonUSIUsage}}
        LEFT JOIN {{SourceDatabaseName}}.edfi.{{PersonType}} pkc_sp{{Index}}
            ON source.{{ColumnName}} = pkc_sp{{Index}}.{{PersonType}}USI
        LEFT JOIN edfi.{{PersonType}} pkc_tp{{Index}}
            ON pkc_sp{{Index}}.{{PersonType}}UniqueId = pkc_tp{{Index}}.{{PersonType}}UniqueId
        {{/IsPersonUSIUsage}}
    {{/PrimaryKeyColumns}}
    {{#NonPrimaryKeyColumns}}
        {{#IsConcreteDescriptorId}}
        LEFT JOIN {{SourceDatabaseName}}.edfi.Descriptor npkc_sd{{Index}}
            ON source.{{ColumnName}} = npkc_sd{{Index}}.DescriptorId
        LEFT JOIN edfi.Descriptor npkc_td{{Index}}
            ON npkc_sd{{Index}}.CodeValue = npkc_td{{Index}}.CodeValue AND npkc_sd{{Index}}.Namespace = npkc_td{{Index}}.Namespace
        {{/IsConcreteDescriptorId}}
        {{#IsPersonUSIUsage}}
        LEFT JOIN {{SourceDatabaseName}}.edfi.{{PersonType}} npkc_sp{{Index}}
            ON source.{{ColumnName}} = npkc_sp{{Index}}.{{PersonType}}USI
        LEFT JOIN edfi.{{PersonType}} npkc_tp{{Index}}
            ON npkc_sp{{Index}}.{{PersonType}}UniqueId = npkc_tp{{Index}}.{{PersonType}}UniqueId
        {{/IsPersonUSIUsage}}
    {{/NonPrimaryKeyColumns}}
)
