CREATE OR ALTER PROCEDURE edfi.Merge{{ContextSchoolYear}}ToLDS
AS
BEGIN
    DECLARE @schoolYearContext AS INT = {{ContextSchoolYear}}

    -- disable all constraints
    EXEC sp_MSforeachtable "ALTER TABLE ? NOCHECK CONSTRAINT all";

    SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
    BEGIN TRANSACTION;

{{#Tables}}
    {{#IsDescriptorBaseTable}}
    {{> Lds.Processing.Merge__MergeStatement}}

    {{/IsDescriptorBaseTable}}
{{/Tables}}
{{#Tables}}
    {{#IsPersonTypeTable}}
    {{> Lds.Processing.Merge__MergeStatement}}

    {{/IsPersonTypeTable}}
{{/Tables}}
{{#Tables}}
    {{^IsDescriptorBaseTable}}
        {{^IsPersonTypeTable}}
            {{#IsAggregateRoot}}
    {{> Lds.Processing.Merge__MergeStatement}}

            {{/IsAggregateRoot}}
    
            {{^IsAggregateRoot}}
    {{> Lds.Processing.Merge__MergeStatement}}

            {{/IsAggregateRoot}}
        {{/IsPersonTypeTable}}
    {{/IsDescriptorBaseTable}}
{{/Tables}}

    COMMIT TRANSACTION;

    -- enable all constraints
    EXEC sp_MSforeachtable @command1="print '?'", @command2="ALTER TABLE ? WITH CHECK CHECK CONSTRAINT all";
END