{{> Lds.Processing.Merge__SourceCTE}}
MERGE {{Schema}}.{{TableName}} AS target
USING source as source
    ON (
    {{#PrimaryKeyColumns}}
        {{^IsFirst}}AND {{/IsFirst}}target.{{ColumnName}} = source.{{ColumnName}}
    {{/PrimaryKeyColumns}})
    {{#HasNonPrimaryKeyColumns}}
    WHEN MATCHED THEN
        UPDATE SET
            -- Non-primary key columns
        {{#NonPrimaryKeyColumns}}
                {{^IsFirst}}, {{/IsFirst}}{{ColumnName}} = source.{{ColumnName}}
        {{/NonPrimaryKeyColumns}}
        {{#HasBoilerplateColumns}}
            -- Boilerplate columns
            {{#BoilerplateColumns}}
                {{#HasNonPrimaryKeyColumns}}, {{/HasNonPrimaryKeyColumns}}{{^HasNonPrimaryKeyColumns}}{{^IsFirst}}, {{/IsFirst}}{{/HasNonPrimaryKeyColumns}}{{ColumnName}} = source.{{ColumnName}}
            {{/BoilerplateColumns}}
        {{/HasBoilerplateColumns}}
        {{#HasAllReferences}}
            -- Reference hash keys
            {{#AllReferences}}
                {{#HasNonPrimaryKeyColumns}}, {{/HasNonPrimaryKeyColumns}}{{^HasNonPrimaryKeyColumns}}{{#HasBoilerplateColumns}}, {{/HasBoilerplateColumns}}{{/HasNonPrimaryKeyColumns}}{{^HasNonPrimaryKeyColumns}}{{^HasBoilerplateColumns}}{{^IsFirst}}, {{/IsFirst}}{{/HasBoilerplateColumns}}{{/HasNonPrimaryKeyColumns}}{{#Column}}{{ColumnName}}{{/Column}} = HASHBYTES('sha1', 
                {{#ReferenceColumns}}
                    {{#IsConcreteDescriptorId}}
                    {{^IsFirst}}+ '|' + {{/IsFirst}}source.{{ColumnName}}_CodeValue
                + '|' + source.{{ColumnName}}_Namespace
                    {{/IsConcreteDescriptorId}}
                    {{#IsPersonUSIUsage}}
                    {{^IsFirst}}+ '|' + {{/IsFirst}}source.{{ColumnName}}_UniqueId
                    {{/IsPersonUSIUsage}}
                    {{^IsConcreteDescriptorId}}
                        {{^IsPersonUSIUsage}}
                    {{^IsFirst}}+ '|' + {{/IsFirst}}{{> Lds.Processing.Merge__HashPartFromSource }}
                        {{/IsPersonUSIUsage}}
                    {{/IsConcreteDescriptorId}}
                {{/ReferenceColumns}}
            )
            {{/AllReferences}}
        {{/HasAllReferences}} 
    {{/HasNonPrimaryKeyColumns}}
    {{#HasSchoolYearContext}}
    WHEN NOT MATCHED BY SOURCE AND ContextSchoolYear = @schoolYearContext THEN DELETE
    {{/HasSchoolYearContext}}
    WHEN NOT MATCHED BY TARGET THEN
        INSERT (
    {{^HasServerAssignedSurrogateId}}
        {{#HasPrimaryKeyColumns}}
            -- Primary key columns
            {{#PrimaryKeyColumns}}
                {{^IsFirst}}, {{/IsFirst}}{{ColumnName}}
            {{/PrimaryKeyColumns}}
        {{/HasPrimaryKeyColumns}}
    {{/HasServerAssignedSurrogateId}}
    {{#HasNonPrimaryKeyColumns}}
            -- Non primary key columns
        {{#NonPrimaryKeyColumns}}
                {{#HasServerAssignedSurrogateId}}{{^IsFirst}}, {{/IsFirst}}{{/HasServerAssignedSurrogateId}}{{^HasServerAssignedSurrogateId}}, {{/HasServerAssignedSurrogateId}}{{ColumnName}}
        {{/NonPrimaryKeyColumns}}
    {{/HasNonPrimaryKeyColumns}}
    {{#HasBoilerplateColumns}}
            -- Boilerplate columns
        {{#BoilerplateColumns}}
            , {{ColumnName}}
        {{/BoilerplateColumns}}
    {{/HasBoilerplateColumns}}
    {{#DiscriminatorColumn}}
            , {{ColumnName}}
    {{/DiscriminatorColumn}}
            -- Hash key
            , {{#HashKey}}{{ColumnName}}{{/HashKey}}
    {{#HasAllReferences}}
            -- Reference hash keys
        {{#AllReferences}}
            {{#Column}}
            , {{ColumnName}}
            {{/Column}}
        {{/AllReferences}}
    {{/HasAllReferences}}
        )
        VALUES (
    {{^HasServerAssignedSurrogateId}}
        {{#HasPrimaryKeyColumns}}
            -- Primary key columns
            {{#PrimaryKeyColumns}}
                {{^IsFirst}}, {{/IsFirst}}{{^IsSchoolYearContext}}{{ColumnName}}{{/IsSchoolYearContext}}{{#IsSchoolYearContext}}@schoolYearContext{{/IsSchoolYearContext}}    
            {{/PrimaryKeyColumns}}
        {{/HasPrimaryKeyColumns}}
    {{/HasServerAssignedSurrogateId}}
    {{#HasNonPrimaryKeyColumns}}
            -- Non-primary key columns
        {{#NonPrimaryKeyColumns}}
                {{#HasServerAssignedSurrogateId}}{{^IsFirst}}, {{/IsFirst}}{{/HasServerAssignedSurrogateId}}{{^HasServerAssignedSurrogateId}}, {{/HasServerAssignedSurrogateId}}{{ColumnName}}
        {{/NonPrimaryKeyColumns}}
    {{/HasNonPrimaryKeyColumns}}
    {{#HasBoilerplateColumns}}
            -- Boilerplate columns
        {{#BoilerplateColumns}}
            , {{ColumnName}}
        {{/BoilerplateColumns}}
    {{/HasBoilerplateColumns}}
    {{#DiscriminatorColumn}}
            , {{ColumnName}}
    {{/DiscriminatorColumn}}
            -- Hash key
            , HASHBYTES('sha1',
    {{#HasAlternateKey}}
        {{#AlternateKeyColumns}}
                {{^IsFirst}}+ '|' + {{/IsFirst}}{{> Lds.Processing.Merge__HashPartFromSource }}
        {{/AlternateKeyColumns}}
    {{/HasAlternateKey}}
    {{^HasAlternateKey}}
        {{#PrimaryKeyColumns}}
                {{^IsFirst}}+ '|' + {{/IsFirst}}{{> Lds.Processing.Merge__HashPartFromSource }}
        {{/PrimaryKeyColumns}}
    {{/HasAlternateKey}}
            )
    {{#HasAllReferences}}
            -- Reference hash keys
        {{#AllReferences}}
            , HASHBYTES('sha1', 
            {{#ReferenceColumns}}
                    {{^IsFirst}}+ '|' + {{/IsFirst}}{{> Lds.Processing.Merge__HashPartFromSource }}
            {{/ReferenceColumns}}
            )
        {{/AllReferences}}
    {{/HasAllReferences}}
        );
