IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'test')
EXEC sys.sp_executesql N'CREATE SCHEMA [test]'
GO

DROP FUNCTION IF EXISTS test.MergeResults{{ContextSchoolYear}}
GO

CREATE FUNCTION test.MergeResults{{ContextSchoolYear}}(
    @tableName nvarchar(max) = NULL 
)
RETURNS
    @mergeResults TABLE ( 
        TableName nvarchar(100),
        SourceCount int,
        TargetCount int,
        MissingCount int,
        ExtraCount int,
        DiffCount int,
        IsExactMatch bit
    )
BEGIN
    DECLARE 
        @sourceCount INT, 
        @targetCount INT,
        @missingCount INT,
        @extraCount INT,
        @diffCount INT,
        @schoolYearContext INT = {{ContextSchoolYear}}

{{#Tables}}
    IF (@tableName IS NULL OR @tableName = '{{Schema}}.{{TableName}}')
    BEGIN
        -- {{Schema}}.{{TableName}}
        SELECT @sourceCount = COUNT(1) FROM {{SourceDatabaseName}}.{{Schema}}.{{TableName}};
        SELECT @targetCount = COUNT(1) FROM {{Schema}}.{{TableName}}{{#HasSchoolYearContext}} WHERE ContextSchoolYear = @schoolYearContext{{/HasSchoolYearContext}};

        {{> Lds.Processing.Merge__SourceCTE}}
        SELECT  @missingCount = COUNT(1)
        FROM    source
            LEFT JOIN {{Schema}}.{{TableName}} target
        {{#HasServerAssignedSurrogateId}}
            {{#AlternateKeyColumns}}
                {{#IsFirst}}ON {{/IsFirst}}{{^IsFirst}}AND {{/IsFirst}}source.{{ColumnName}} = target.{{ColumnName}}
            {{/AlternateKeyColumns}}
        WHERE {{#AlternateKeyColumns}}{{#IsFirst}}target.{{ColumnName}} IS NULL{{/IsFirst}}{{/AlternateKeyColumns}}
            {{#HasSchoolYearContext}}AND (target.ContextSchoolYear IS NULL OR target.ContextSchoolYear = @schoolYearContext){{/HasSchoolYearContext}}
        {{/HasServerAssignedSurrogateId}}
        {{^HasServerAssignedSurrogateId}}
            {{#PrimaryKeyColumns}}
                {{#IsFirst}}ON {{/IsFirst}}{{^IsFirst}}AND {{/IsFirst}}source.{{ColumnName}} = target.{{ColumnName}}
            {{/PrimaryKeyColumns}}
        WHERE {{#PrimaryKeyColumns}}{{#IsFirst}}target.{{ColumnName}} IS NULL{{/IsFirst}}{{/PrimaryKeyColumns}}
            {{#HasSchoolYearContext}}AND (target.ContextSchoolYear IS NULL OR target.ContextSchoolYear = @schoolYearContext){{/HasSchoolYearContext}}
        {{/HasServerAssignedSurrogateId}};

        {{> Lds.Processing.Merge__SourceCTE}}
        SELECT  @extraCount = COUNT(1)
        FROM    {{Schema}}.{{TableName}} target
            LEFT JOIN source
        {{#HasServerAssignedSurrogateId}}
                {{#AlternateKeyColumns}}
                {{#IsFirst}}ON {{/IsFirst}}{{^IsFirst}}AND {{/IsFirst}}target.{{ColumnName}} = source.{{ColumnName}}
                {{/AlternateKeyColumns}}
        WHERE {{#AlternateKeyColumns}}{{#IsFirst}}source.{{ColumnName}} IS NULL{{/IsFirst}}{{/AlternateKeyColumns}}
        {{/HasServerAssignedSurrogateId}}
        {{^HasServerAssignedSurrogateId}}
            {{#PrimaryKeyColumns}}
                {{#IsFirst}}ON {{/IsFirst}}{{^IsFirst}}AND {{/IsFirst}}target.{{ColumnName}} = source.{{ColumnName}}
            {{/PrimaryKeyColumns}}
        WHERE {{#PrimaryKeyColumns}}{{#IsFirst}}source.{{ColumnName}} IS NULL{{/IsFirst}}{{/PrimaryKeyColumns}}
        {{/HasServerAssignedSurrogateId}}
            {{#HasSchoolYearContext}}AND target.ContextSchoolYear = @schoolYearContext{{/HasSchoolYearContext}};

        {{> Lds.Processing.Merge__SourceCTE}}
        SELECT  @diffCount = COUNT(1)
        FROM    source
            INNER JOIN {{Schema}}.{{TableName}} target
        {{#HasServerAssignedSurrogateId}}
            {{#AlternateKeyColumns}}
                {{#IsFirst}}ON {{/IsFirst}}{{^IsFirst}}AND {{/IsFirst}}source.{{ColumnName}} = target.{{ColumnName}}
            {{/AlternateKeyColumns}}
        {{/HasServerAssignedSurrogateId}}
        {{^HasServerAssignedSurrogateId}}
            {{#PrimaryKeyColumns}}
                {{#IsFirst}}ON {{/IsFirst}}{{^IsFirst}}AND {{/IsFirst}}source.{{ColumnName}} = target.{{ColumnName}}
            {{/PrimaryKeyColumns}}
        {{/HasServerAssignedSurrogateId}}
        WHERE {{^HasNonPrimaryKeyColumns}} 1 = 0 -- Never any difference for tables with no non-PK columns{{/HasNonPrimaryKeyColumns}}
        {{#HasNonPrimaryKeyColumns}}
            BINARY_CHECKSUM(
        {{#NonPrimaryKeyColumns}}
                {{^IsFirst}}, {{/IsFirst}}source.{{ColumnName}}
        {{/NonPrimaryKeyColumns}})
            <>
            BINARY_CHECKSUM(
        {{#NonPrimaryKeyColumns}}
                {{^IsFirst}}, {{/IsFirst}}target.{{ColumnName}}
        {{/NonPrimaryKeyColumns}})
            {{#HasSchoolYearContext}}AND target.ContextSchoolYear = @schoolYearContext{{/HasSchoolYearContext}}
        {{/HasNonPrimaryKeyColumns}};

        -- Record the merge results for this table
        INSERT INTO @mergeResults (TableName, SourceCount, TargetCount, MissingCount, ExtraCount, DiffCount, IsExactMatch)
        VALUES ('{{Schema}}.{{TableName}}', @sourceCount, @targetCount, @missingCount, @extraCount, @diffCount,
            CASE WHEN @missingCount + @extraCount + @diffCount = 0 THEN 1 ELSE 0 END);
    END    
{{/Tables}}
    RETURN
END
GO
