{{#IsString}}source.{{ColumnName}}{{/IsString}}{{#IsNumber}}CONVERT(nvarchar, {{^IsSchoolYearContext}}source.{{ColumnName}}{{/IsSchoolYearContext}}{{#IsSchoolYearContext}}@schoolYearContext{{/IsSchoolYearContext}}){{/IsNumber}}{{#IsDate}}CONVERT(nvarchar, source.{{ColumnName}}, 23){{/IsDate}}{{#IsTime}}CONVERT(nvarchar, source.{{ColumnName}}, 14){{/IsTime}}{{#IsGuid}}CONVERT(nchar(36), source.{{ColumnName}}){{/IsGuid}}{{#IsUnsupportedType}}UNSUPPORTED DATA TYPE '{{DataType}}'{{/IsUnsupportedType}}