<!--
  SPDX-License-Identifier: Apache-2.0
  Licensed to the Ed-Fi Alliance under one or more agreements.
  The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
  See the LICENSE and NOTICES files in the project root for more information.
-->
@model EdFi.Ods.SandboxAdmin.Services.Models.Account.PasswordResetViewModel

@{
    ViewBag.Title = "Activate Account";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Activate Account</h2>
<p>Set your password to activate your account</p>
@await Html.PartialAsync("~/Views/Shared/PasswordRequirements.cshtml")
<div class="row">
    <div class="col-sm-8">
        <form method="POST" action="@Url.Action("ActivateAccount", "Account")">
            <div class="form-group">
                <label class="control-label" for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="" class="form-control">
            </div>

            <div class="form-group">
                <label class="control-label" for="confirmpassword">Confirm Password</label>
                <input type="password" id="confirmpassword" name="confirmpassword" placeholder="" class="form-control">
            </div>

            <input type="hidden" name="email" value="@Model.Email" />
            <input type="hidden" name="marker" value="@Model.Marker" />

            <div class="form-group">
                <button class="btn btn-primary" id="btn-activate-account">Activate Account</button>
            </div>
        </form>
    </div>
</div>