<!--
  SPDX-License-Identifier: Apache-2.0
  Licensed to the Ed-Fi Alliance under one or more agreements.
  The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
  See the LICENSE and NOTICES files in the project root for more information.
-->

@model dynamic

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Change Password</h2>
@await Html.PartialAsync("~/Views/Shared/PasswordRequirements.cshtml")
<div class="row">
    <div class="col-sm-8">
        <form method="POST" action="@Url.Action("ChangePassword", "Account")">
            <div class="form-group">
                <label class="control-label" for="currentpassword">Current Password</label>
                <input type="password" id="currentpassword" name="currentpassword" placeholder="" class="form-control">
            </div>
            <div class="form-group">
                <a href="@Url.Action("ForgotPassword", "Account")">Forgot Password?</a>
            </div>

            <div class="form-group">
                <br />
            </div>

            <div class="form-group">
                <label class="control-label" for="newpassword">New Password</label>
                <input type="password" id="newpassword" name="newpassword" placeholder="" class="form-control">
            </div>

            <div class="form-group">
                <label class="control-label" for="confirmpassword">Confirm Password</label>
                <input type="password" id="confirmpassword" name="confirmpassword" placeholder="" class="form-control">
            </div>

            <div class="form-group">
                <button class="btn btn-primary">Reset Password</button>
            </div>
        </form>
    </div>
</div>