<!--
  SPDX-License-Identifier: Apache-2.0
  Licensed to the Ed-Fi Alliance under one or more agreements.
  The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
  See the LICENSE and NOTICES files in the project root for more information.
-->

@model dynamic

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Change Password Successful</h2>

<p>Password has been successfully changed.</p>
