<!--
  SPDX-License-Identifier: Apache-2.0
  Licensed to the Ed-Fi Alliance under one or more agreements.
  The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
  See the LICENSE and NOTICES files in the project root for more information.
-->

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Please Login</h2>

<p>
    Use the "Login" link above to access this system. If you are already logged in, then you have
    insufficient privileges to access the page you were attempting to access. Either logout and log back into
    the system, or find an administrator that can perform the tasks for you.
</p>