<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EdFi.BulkLoadClient.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EdFi.BulkLoadClient.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="BearerTokenTimeoutMinutes" value="29" />
    <add key="RelativeApiUrl" value="/data/v3/" />
    <add key="RelativeMetadataUrl" value="/metadata" />
    <add key="RelativeOauthUrl" value="/oauth" />
    <add key="RelativeDependenciesUrl" value="/metadata/data/v3/dependencies" />
    <add key="DefaultBaseUrl" value="http://localhost:54746" />
  </appSettings>
  <!-- See https://msdn.microsoft.com/en-us/library/a65txexh(v=vs.140).aspx for configuration options-->
  <applicationSettings>
    <EdFi.BulkLoadClient.Console.Properties.Settings>
      <setting name="ConnectionLimit" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="SchoolYear" serializeAs="String">
        <value>2020</value>
      </setting>
      <setting name="TaskCapacity" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="MaxSimultaneousApiRequests" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="XsdFolder" serializeAs="String">
        <value>..\..\..\..\..\..\..\Ed-Fi-Standard\Schemas\Bulk</value>
      </setting>
      <setting name="InterchangeFolder" serializeAs="String">
        <value>..\..\..\..\..\..\..\Ed-Fi-Standard\Schemas\Bulk</value>
      </setting>
    </EdFi.BulkLoadClient.Console.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <EdFi.BulkLoadClient.Console.Properties.Settings>
      <setting name="WorkingFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="MaxRetries" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="OAuthKey" serializeAs="String">
        <value>key</value>
      </setting>
      <setting name="OAuthSecret" serializeAs="String">
        <value>secret</value>
      </setting>
      <setting name="DataFolder" serializeAs="String">
        <value>..\..\..\..\..\..\..\Ed-Fi-Standard\Samples\Sample XML</value>
      </setting>
    </EdFi.BulkLoadClient.Console.Properties.Settings>
  </userSettings>
  <log4net>
    <!-- A1 is set to be a ColoredConsoleAppender -->
    <appender name="A1" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="FATAL" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="White" />
      </mapping>
      <!-- A1 uses PatternLayout -->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-4timestamp %-5level %logger - %message%newline" />
      </layout>
      <threshold value="INFO" />
    </appender>
    <!-- A2 is set to be a FileAppender -->
    <appender name="A2" type="log4net.Appender.RollingFileAppender">
      <file value="logfile.txt" />
      <appendToFile value="false" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="500MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %t [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
      <threshold value="DEBUG" />
    </appender>
    <appender name="A3" type="log4net.Appender.FileAppender">
      <file value="log-file.txt" />
      <appendToFile value="false" />
      <lockingModel type="log4net.Appender.FileAppender+InterProcessLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <!-- Set root logger level to DEBUG and its only appender to A1 -->
    <root>
      <appender-ref ref="A1" />
      <appender-ref ref="A2" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.37.0" newVersion="1.1.37.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>