<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="A1" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-4timestamp %-5level %logger - %message%newline" />
    </layout>
    <threshold value="INFO" />
  </appender>
  <appender name="A2" type="log4net.Appender.RollingFileAppender">
    <file value="logfile.txt" />
    <appendToFile value="false" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="500MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d %t [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
    <threshold value="DEBUG" />
  </appender>
  <appender name="A3" type="log4net.Appender.FileAppender">
    <file value="log-file.txt" />
    <appendToFile value="false" />
    <lockingModel type="log4net.Appender.FileAppender+InterProcessLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <root>
    <appender-ref ref="A1" />
    <appender-ref ref="A2" />
  </root>
</log4net>