<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="nuget.org v2" value="https://www.nuget.org/api/v2/" />
    <add key="Ed-Fi Alliance NuGet Feed" value="https://www.myget.org/F/ed-fi/" />
  </packageSources>
</configuration>