/* add custom logo */
.topbar-wrapper img {
    content: url('ed-fi-logo-light.svg');
    height: 60px;
}

/* customize topbar */
.swagger-ui .topbar {
    background-color: #ecf0f1;
}

/* hide section label  */
.swagger-ui .topbar .download-url-wrapper .select-label span {
    flex: 0;
    width: 0;
    visibility: hidden;
}

/* add custom section label */
.swagger-ui .topbar .download-url-wrapper .select-label:before {
    font-size: 16px;
    color: #3b4151;
    visibility: visible;
    content: "API Section: ";
}

.swagger-ui .topbar .download-url-wrapper .select-label-custom {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0
}

.swagger-ui .topbar .download-url-wrapper .select-label-custom span {
    font-size: 16px;
    flex: 1;
    padding: 0 10px 0 0;
    text-align: right
}

.swagger-ui .topbar .download-url-wrapper .select-label-custom select {
    flex: 2;
    width: 100%;
    border: 2px solid #62a03f;
    outline: none;
    box-shadow: none
}
