-- SPDX-License-Identifier: Apache-2.0
-- Licensed to the Ed-Fi Alliance under one or more agreements.
-- The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
-- See the LICENSE and NOTICES files in the project root for more information.

{{#Tables}}
    {{#ForeignKeys}}
ALTER TABLE [{{ThisSchema}}].[{{ThisTableName}}] WITH CHECK ADD CONSTRAINT [{{ConstraintName}}] FOREIGN KEY ({{#ThisColumns}}{{^IsFirst}}, {{/IsFirst}}[{{ColumnName}}]{{/ThisColumns}})
REFERENCES [{{OtherSchema}}].[{{OtherTableName}}] ({{#OtherColumns}}{{^IsFirst}}, {{/IsFirst}}[{{ColumnName}}]{{/OtherColumns}})
{{#IsFromBase}}
ON DELETE CASCADE
{{/IsFromBase}}
{{#IsNavigable}}
ON DELETE CASCADE
{{/IsNavigable}}
{{#IsUpdatable}}
ON UPDATE CASCADE
{{/IsUpdatable}}
GO

{{^IsFromBase}}
    {{^IsOneToOne}}
CREATE NONCLUSTERED INDEX [{{ConstraintName}}]
ON [{{ThisSchema}}].[{{ThisTableName}}] ({{#ThisColumns}}{{^IsFirst}}, {{/IsFirst}}[{{ColumnName}}] ASC{{/ThisColumns}})
GO

    {{/IsOneToOne}}
{{/IsFromBase}}
    {{/ForeignKeys}}
{{/Tables}}