-- SPDX-License-Identifier: Apache-2.0
-- Licensed to the Ed-Fi Alliance under one or more agreements.
-- The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
-- See the LICENSE and NOTICES files in the project root for more information.

{{#Tables}}
    {{#HasServerAssignedSurrogateId}}
DROP SEQUENCE IF EXISTS {{Schema}}.{{TableName}}Seq;
GO
CREATE SEQUENCE {{Schema}}.{{TableName}}Seq AS INT;
GO

    {{/HasServerAssignedSurrogateId}}
-- Table [{{Schema}}].[{{TableName}}] --
CREATE TABLE [{{Schema}}].[{{TableName}}] (
{{#PrimaryKeyColumns}}
    [{{ColumnName}}] {{DataType}} {{^IsNullable}}NOT {{/IsNullable}}NULL,
{{/PrimaryKeyColumns}}
{{#NonPrimaryKeyColumns}}
    [{{ColumnName}}] {{DataType}} {{^IsNullable}}NOT {{/IsNullable}}NULL,
{{/NonPrimaryKeyColumns}}
{{#DiscriminatorColumnForLds}}
    [{{ColumnName}}] {{DataType}} {{^IsNullable}}NOT {{/IsNullable}}NULL,
{{/DiscriminatorColumnForLds}}
{{#HasBoilerplateColumns}}
    -- Boilerplate
    {{#BoilerplateColumns}}
    [{{ColumnName}}] {{DataType}} {{^IsNullable}}NOT {{/IsNullable}}NULL,
    {{/BoilerplateColumns}}
{{/HasBoilerplateColumns}}
    -- Hash key
{{#HashKey}}
    {{ColumnName}} uniqueidentifier NOT NULL,
{{/HashKey}}
{{#HasAllReferences}}
    -- Hash key references
    {{#AllReferences}}
    {{#Column}}{{ColumnName}} {{DataType}} {{^IsNullable}}NOT {{/IsNullable}}NULL{{/Column}},
    {{/AllReferences}}
{{/HasAllReferences}}
{{#IsTemporal}}
    -- Temporal table artifacts
    SysStartTime DATETIME2 GENERATED ALWAYS AS ROW START NOT NULL,
    SysEndTime DATETIME2 GENERATED ALWAYS AS ROW END NOT NULL,
    PERIOD FOR SYSTEM_TIME (SysStartTime, SysEndTime),
{{/IsTemporal}}
    CONSTRAINT [{{PrimaryKeyConstraintName}}] PRIMARY KEY CLUSTERED (
{{#PrimaryKeyColumns}}
        [{{ColumnName}}] ASC{{^IsLast}},{{/IsLast}}
{{/PrimaryKeyColumns}}
    ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
{{#HasAlternateKey}}
    , CONSTRAINT [{{AlternateKeyConstraintName}}] UNIQUE NONCLUSTERED (
{{#AlternateKeyColumns}}
        [{{ColumnName}}] ASC{{^IsLast}},{{/IsLast}}
{{/AlternateKeyColumns}}
    ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
{{/HasAlternateKey}}
) ON [PRIMARY]
{{#IsTemporal}}
    WITH (SYSTEM_VERSIONING = ON (HISTORY_TABLE = {{Schema}}.{{TableName}}_AttributesHistory))    
{{/IsTemporal}}
GO
{{#HasServerAssignedSurrogateId}}
    {{#PrimaryKeyColumns}}
        {{#IsServerAssigned}}
ALTER TABLE [{{Schema}}].[{{TableName}}] ADD CONSTRAINT [{{TableName}}_DF_{{ColumnName}}] DEFAULT (NEXT VALUE FOR {{Schema}}.{{TableName}}Seq) FOR [{{ColumnName}}]
GO
        {{/IsServerAssigned}}
    {{/PrimaryKeyColumns}}
{{/HasServerAssignedSurrogateId}}

{{#BoilerplateColumnsUnsorted}}
ALTER TABLE [{{Schema}}].[{{TableName}}] ADD CONSTRAINT [{{DefaultConstraintName}}] DEFAULT ({{DefaultValue}}) FOR [{{ColumnName}}]
GO
{{/BoilerplateColumnsUnsorted}}

{{/Tables}}