<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
    <threshold value="INFO" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread,%property{ApiClientId}] %-5level %logger{1}.%method [%line] - MESSAGE: %message%newline %exception" />
    </layout>
  </appender>
  <appender name="DebugAppender" type="log4net.Appender.DebugAppender" >
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread,%property{ApiClientId}] %-5level %logger - MESSAGE: %message%newline %exception" />
    </layout>
  </appender>
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <threshold value="INFO" />
    <file value="${TEST_HARNESS_LOG_NAME_PREFIX}TestHarnessLog.log"/>
    <appendToFile value="false" />
    <maximumFileSize value="5MB" />
    <maxSizeRollBackups value="10" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread,%property{ApiClientId},%property{CorrelationId}] %-5level %logger - MESSAGE: %message%newline %exception" />
    </layout>
  </appender>
  <logger name="NHibernate">
    <level value="WARN"/>
  </logger>
  <root>
    <appender-ref ref="TraceAppender" />
    <appender-ref ref="RollingFile" />
    <appender-ref ref="DebugAppender" />
  </root>
  <logger name="RequestResponseDetailsLogger" additivity="false">
    <level value="INFO" />
    <appender-ref ref="RequestResponseDetailsFileAppender" />
  </logger>
  <appender name="RequestResponseDetailsFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="${TEST_HARNESS_LOG_NAME_PREFIX}TestHarnessRequestResponseDetailsLog.log"/>
    <appendToFile value="false"/>
    <maximumFileSize value="5MB" />
    <maxSizeRollBackups value="10" />
    <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level ClientId:%property{ApiClientId} CorrelationId:%property{CorrelationId} RequestUrl:%property{RequestUrl} RequestMethod:%property{RequestMethod} ProfilesHeader:%property{ProfilesHeader} ResponseCode:%property{ResponseCode} ResponseMessage:%message%n" />
    </layout>
  </appender>
</log4net>
