# SPDX-License-Identifier: Apache-2.0
# Licensed to the Ed-Fi Alliance under one or more agreements.
# The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
# See the LICENSE and NOTICES files in the project root for more information.

services:
  db:
    container_name: ODS-PostgreSQL
    image: postgres:16.10-alpine3.22@sha256:1c6d2f6e4d30d49c529e09a627e8178db5011dde88d955eb08db2e135e64aa09
    restart: always
    environment:
      # The default connection strings when using 'initdev -Engine PostgreSql' don't include a password,
      # and, because this container it is intended to aid in local developement, postgres is configured to allow all connections
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      # If no port provided through an env file, default to 5432
      - ${POSTGRES_PORT:-5432}:5432
    volumes:
      - ed-fi-ods-dev:/var/lib/postgresql/data

  pgadmin:
    container_name: ODS-pgadmin
    image: dpage/pgadmin4:9.5.0@sha256:2a830466aafd9cbc2aea0f76ff81a80dbbba819f2f5db7e69cb40e9cbdb6bc7b
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    volumes:
      - pgadmin-ods-data:/var/lib/pgadmin
      - ./pgadmin/servers.json:/pgadmin4/servers.json:ro
    depends_on:
      - db

volumes:
  ed-fi-ods-dev:
    driver: local
  pgadmin-ods-data:
    driver: local

networks:
  ed-fi-ods-dev:
    external: true
