<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-4timestamp %-5level %logger - %message%newline" />
    </layout>
    <threshold value="$ENV_CONSOLE_LOG_LEVEL" />
  </appender>
  <appender name="RollingAppender" type="log4net.Appender.RollingFileAppender">
    <file value="/var/bulkload/log/logfile.txt" />
    <appendToFile value="false" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="500MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d %t [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
    <threshold value="$ENV_FILE_LOG_LEVEL" />
  </appender>
  <root>
    <appender-ref ref="ConsoleAppender" />
    <appender-ref ref="RollingAppender" />
  </root>
</log4net>