<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="initialization" type="EdFi.Ods.Admin.Initialization.InitializationSection, EdFi.Ods.Admin"
             requirePermission="false" allowLocation="true" />
  </configSections>
  <initialization enabled="true">
    <users>
      <add name="Test Admin" email="test@ed-fi.org" password="***REMOVED***" admin="true">
        <sandboxes>
          <sandbox name="Populated Demonstration Sandbox" key="populatedSandbox" secret="populatedSandboxSecret"
                   type="Sample" refresh="true" />
          <sandbox name="Minimal Demonstration Sandbox" key="minimalSandbox" secret="minimalSandboxSecret"
                   type="Minimal" refresh="true" />
        </sandboxes>
      </add>
    </users>
  </initialization>
</configuration>