using System;
using System.Collections.Generic;
using System.Diagnostics.CodeAnalysis;
using EdFi.Ods.Api.Common.ExceptionHandling;
using EdFi.Ods.Api.Common.Providers;

namespace {{NamespaceName}}
{
    [ExcludeFromCodeCoverage]
    public class DatabaseMetadataProvider : IDatabaseMetadataProvider
    {
        public IndexDetails GetIndexDetails(string indexName)
        {
            IndexDetails indexDetails = null;

            IndexDetailsByName.TryGetValue(indexName, out indexDetails);

            return indexDetails;
        }

        private static readonly Dictionary<string, IndexDetails> IndexDetailsByName = new Dictionary<string, IndexDetails>(StringComparer.InvariantCultureIgnoreCase) {
        {{#IndexMetadata}}
            { "{{Name}}", new IndexDetails { IndexName = "{{Name}}", TableName = "{{TableName}}", ColumnNames = new List<string> { {{{ColumnNames}}} } } },
        {{/IndexMetadata}}
        };
    }
}
