using System;
using System.Collections.Generic;
using EdFi.Ods.Api.Common.Attributes;
using EdFi.Ods.Common;

#pragma warning disable 108,114

namespace {{EntitiesBaseNamespace}}
{
{{#Interfaces}}

    /// <summary>
    /// Defines available properties and methods for the abstraction of the {{Name}} model.
    /// </summary>
    public interface I{{Name}}{{ImplementedInterfaces}}
    {
        // Primary Key properties
    {{#ParentClassName}}
        [NaturalKeyMember]
        {{ParentInterfaceName}} {{ParentClassName}} { get; set; }
    {{/ParentClassName}}
    {{#IdentifyingProperties}}
        [NaturalKeyMember]{{#IsServerAssigned}}[AutoIncrement]{{/IsServerAssigned}}{{#IsUniqueId}}[UniqueId]{{/IsUniqueId}}
        {{#IsLookup}}
        string {{LookupName}} { get; set; }
        {{/IsLookup}}
        {{^IsLookup}}
        {{CSharpType}} {{CSharpSafePropertyName}} { get; set; }
        {{/IsLookup}}
    {{/IdentifyingProperties}}

        // Non-PK properties
    {{#NonIdentifyingProperties}}
        {{#IsLookup}}
        string {{LookupName}} { get; set; }
        {{/IsLookup}}
        {{^IsLookup}}
        {{CSharpType}} {{CSharpSafePropertyName}} { get; set; }
        {{/IsLookup}}
    {{/NonIdentifyingProperties}}

        // One-to-one relationships
    {{#HasNavigableOneToOnes}}
        {{#NavigableOneToOnes}}

        I{{Name}} {{Name}} { get; set; }
        {{/NavigableOneToOnes}}
    {{/HasNavigableOneToOnes}}

        // Lists
    {{#Lists}}
        ICollection<I{{Name}}> {{PluralName}} { get; set; }
    {{/Lists}}

        // Resource reference data
    {{#AggregateReferences}}
        Guid? {{AggregateReferenceName}}ResourceId { get; set; }
        {{#MappedReferenceDataHasDiscriminator}}
        string {{AggregateReferenceName}}Discriminator { get; set; }
        {{/MappedReferenceDataHasDiscriminator}}
    {{/AggregateReferences}}
    }
{{/Interfaces}}
}
