using System;


namespace {{CommonRecordsNamespace}}
{ 
{{#Interfaces}}

    /// <summary>
    /// Interface for the {{Schema}}.{{EntityName}} table of the {{AggregateRootName}} aggregate in the Ods Database.
    /// </summary>
    public interface I{{EntityName}}Record
    {     
        // Properties for all columns in physical table
{{#EntityProperties}}
        {{PropertyType}} {{CSharpSafePropertyName}} { get; set; }
{{/EntityProperties}}
    }
{{/Interfaces}}
}

