using System;
using System.Linq;
using System.Collections.Generic;
using EdFi.Ods.Api.Attributes;
using EdFi.Ods.Common.Attributes;
using EdFi.Ods.Common;
using EdFi.Ods.Common.Extensions;
using EdFi.Ods.Common.Models;

#pragma warning disable 108,114

namespace {{EntitiesBaseNamespace}}
{
{{#Interfaces}}

    /// <summary>
    /// Defines available properties and methods for the abstraction of the {{ModelName}} model.
    /// </summary>
    public interface I{{ModelName}}{{ImplementedInterfaces}}
    {
        // Primary Key properties
    {{#ParentClassName}}
        [NaturalKeyMember]
        {{ParentInterfaceName}} {{ParentClassName}} { get; set; }
    {{/ParentClassName}}
    {{#IdentifyingProperties}}
        [NaturalKeyMember]{{#IsServerAssigned}}[AutoIncrement]{{/IsServerAssigned}}{{#IsUniqueId}}[UniqueId]{{/IsUniqueId}}
        {{#IsLookup}}
        string {{LookupName}} { get; set; }
        {{/IsLookup}}
        {{^IsLookup}}
        {{CSharpType}} {{CSharpSafePropertyName}} { get; set; }
        {{/IsLookup}}
    {{/IdentifyingProperties}}

        // Non-PK properties
    {{#NonIdentifyingProperties}}
        {{#IsLookup}}
        string {{LookupName}} { get; set; }
        {{/IsLookup}}
        {{^IsLookup}}
        {{CSharpType}} {{CSharpSafePropertyName}} { get; set; }
        {{/IsLookup}}
    {{/NonIdentifyingProperties}}

        // One-to-one relationships
    {{#HasNavigableOneToOnes}}
        {{#NavigableOneToOnes}}

        I{{ItemTypeName}} {{PropertyName}} { get; set; }
        {{/NavigableOneToOnes}}
    {{/HasNavigableOneToOnes}}

        // Lists
    {{#Lists}}
        ICollection<I{{ItemTypeName}}> {{PropertyName}} { get; set; }
    {{/Lists}}

        // Resource reference data
    {{#AggregateReferences}}
        Guid? {{AggregateReferenceName}}ResourceId { get; set; }
        {{#MappedReferenceDataHasDiscriminator}}
        string {{AggregateReferenceName}}Discriminator { get; set; }
        {{/MappedReferenceDataHasDiscriminator}}
    {{/AggregateReferences}}
    }

    /// <summary>
    /// Defines a mapping contract appropriate for a particular context when data is either being mapped or synchronized
    /// between entities/resources during API request processing.
    /// </summary>
    public class {{ModelName}}MappingContract : IMappingContract{{#IsExtendable}}, IExtensionsMappingContract{{/IsExtendable}}
    {
        public {{ModelName}}MappingContract(
    {{#MappingContractMembers}}
       {{^ItemTypeName}}
            bool is{{PropertyName}}Supported{{^IsLast}},{{/IsLast}}
       {{/ItemTypeName}}
       {{#ItemTypeName}}
            Func<I{{ItemTypeName}}, bool> is{{ItemTypeName}}Included{{^IsLast}},{{/IsLast}}
       {{/ItemTypeName}}
    {{/MappingContractMembers}}
    {{#IsExtendable}}
            IReadOnlyList<string> supportedExtensions
    {{/IsExtendable}}
            )
        {
    {{#MappingContractMembers}}
        {{^ItemTypeName}}
            Is{{PropertyName}}Supported = is{{PropertyName}}Supported;
        {{/ItemTypeName}}
        {{#ItemTypeName}}
            Is{{ItemTypeName}}Included = is{{ItemTypeName}}Included;
        {{/ItemTypeName}}
    {{/MappingContractMembers}}
    {{#IsExtendable}}
            SupportedExtensions = supportedExtensions;
    {{/IsExtendable}}
        }

    {{#MappingContractMembers}}
        {{^ItemTypeName}}
        public bool Is{{PropertyName}}Supported { get; }
        {{/ItemTypeName}}
        {{#ItemTypeName}}
        public Func<I{{ItemTypeName}}, bool> Is{{ItemTypeName}}Included { get; }
        {{/ItemTypeName}}
    {{/MappingContractMembers}}

        bool IMappingContract.IsMemberSupported(string memberName)
        {
            switch (memberName)
            {
    {{#MappingContractMembers}}
        {{^ItemTypeName}}
                case "{{PropertyName}}":
                    return Is{{PropertyName}}Supported;
        {{/ItemTypeName}}
    {{/MappingContractMembers}}
                default:
                    throw new Exception($"Unknown member '{memberName}'.");
            }
        }

    {{#IsExtendable}}
        public IReadOnlyList<string> SupportedExtensions { get; }

        public bool IsExtensionSupported(string name)
        {
            return SupportedExtensions.Contains(name);    
        }
    {{/IsExtendable}}
    }
{{/Interfaces}}
}
