using System;
using System.Diagnostics.CodeAnalysis;
using EdFi.Ods.Api.Common.Dtos;

// Views
namespace {{Namespace}}
{
    {{#Classes}}

    /// <summary>
    /// A class which represents the {{SchemaName}}.{{TableName}} table of the (unspecified) aggregate in the ODS database.
    /// </summary>
    [Serializable]
    [ExcludeFromCodeCoverage]
    public class {{ClassName}} : AggregateRootWithCompositeKey
    {

        // =============================================================
        //                         Primary Key
        // -------------------------------------------------------------
        // -------------------------------------------------------------

        // =============================================================
        //                          Properties
        // -------------------------------------------------------------
        {{#Properties}}{{#NotInherited}}
        public virtual {{CSharpDeclaredType}} {{PropertyName}}  { get; set; }
        {{/NotInherited}}{{/Properties}}
        // -------------------------------------------------------------

        // =============================================================
        //                          Collections
        // -------------------------------------------------------------

        // -------------------------------------------------------------

        // =============================================================
        //              External references for HQL Queries
        // -------------------------------------------------------------
        // -------------------------------------------------------------
    }
    {{/Classes}}
}
