using System;
using System.Collections.Generic;
using System.Diagnostics.CodeAnalysis;
using EdFi.Ods.Api.Common.Attributes;
using EdFi.Ods.Common;
{{ConditionalInclude}}
{{#RenderGroups}}
{{#Resources}}
namespace {{Namespace}}
{
    {{#ReadableContentType}}

    {{#AllProperties}}
    [ExcludeFromCodeCoverage]
    public class {{ResourceName}}GetByExample
    {
        {{#Properties}}
        public {{Systype}} {{PropertyName}} { get; set; }
        {{/Properties}}
    }
    {{/AllProperties}}

    [ExcludeFromCodeCoverage]
    public class {{ResourceName}}GetByIds : IHasIdentifiers<Guid>
    {
        public {{ResourceName}}GetByIds() { }

        public {{ResourceName}}GetByIds(params Guid[] ids)
        {
            Ids = new List<Guid>(ids);
        }

        public List<Guid> Ids { get; set; }
    }
    {{/ReadableContentType}}
    {{#WritableContentType}}
    {{#ReadableContentType}}

    {{/ReadableContentType}}
    {{#GenerateWritableFormat}}
    {{{ProfileContentWritableFormat}}}
    {{/GenerateWritableFormat}}
    [ExcludeFromCodeCoverage]
    public class {{ResourceName}}Post : {{ResourceClassTypeName}}
    {
    }

    {{#GenerateWritableFormat}}
    {{{ProfileContentWritableFormat}}}
    {{/GenerateWritableFormat}}
    [ExcludeFromCodeCoverage]
    public class {{ResourceName}}Put : {{ResourceClassTypeName}}
    {
    }

    {{/WritableContentType}}
    {{^WritableContentType}}

    {{/WritableContentType}}
    [ExcludeFromCodeCoverage]
    public class {{ResourceName}}Delete : IHasIdentifier
    {
        public {{ResourceName}}Delete() { }

        public {{ResourceName}}Delete(Guid id)
        {
            Id = id;
        }

        public Guid Id { get; set; }
    }
}

{{/Resources}}
{{/RenderGroups}}
