using System;
using System.Linq;
using System.Collections.Generic;
using System.ComponentModel.DataAnnotations;
using System.Runtime.Serialization;
using System.Diagnostics.CodeAnalysis;
using EdFi.Common.Extensions;
using EdFi.Ods.Api.Models;
using EdFi.Ods.Common.Extensions;
using EdFi.Ods.Common;
using EdFi.Ods.Common.Models.Domain;
using EdFi.Ods.Common.Serialization;
using EdFi.Ods.Api.Attributes;
using EdFi.Ods.Common.Adapters;
using EdFi.Ods.Common.Attributes;
using EdFi.Ods.Common.Dependencies;
using EdFi.Ods.Common.Models;
using EdFi.Ods.Common.Models.Resource;
using EdFi.Ods.Common.Validation;
{{#SchemaNamespaces}}
using {{Namespace}};
{{/SchemaNamespaces}}
using Newtonsoft.Json;
using FluentValidation.Results;

{{#ResourceContexts}}
// Aggregate: {{ResourceName}}

namespace {{ResourceClassesNamespace}}
{
    {{#ResourceClasses}}
    {{#ResourceClass}}
    {{#ResourceReference}}
    /// <summary>
    /// Represents a reference to the {{ReferenceName}} resource.
    /// </summary>
    [DataContract]
    [ExcludeFromCodeCoverage]
    public class {{ReferenceName}}Reference
    {
        {{#ReferenceIdentifiers}}
        [DataMember(Name="{{JsonPropertyName}}"), NaturalKeyMember]{{#IsDateOnlyProperty}}[JsonConverter(typeof(Iso8601UtcDateOnlyConverter))]{{/IsDateOnlyProperty}}{{#IsTimeSpanProperty}}[JsonConverter(typeof(UtcTimeConverter))]{{/IsTimeSpanProperty}}
        public {{PropertyType}} {{PropertyName}} { get; set; }

        {{/ReferenceIdentifiers}}
        /// <summary>
        /// Gets or sets the resource identifier of the referenced resource.
        /// </summary>
        public Guid ResourceId { get; set; }

        {{#HasDiscriminator}}
        /// <summary>
        /// Gets or sets the discriminator value which identifies the concrete sub-type of the referenced resource
        /// when the referenced resource has been derived; otherwise <b>null</b>.
        /// </summary>
        public string Discriminator { get; set; }

        {{/HasDiscriminator}}
        {{#HRef}}

        private Link _link;

        [DataMember(Name="link")]
        public Link Link
        {
            get
            {
                if (_link == null)
                {
                    // Only generate links when all values are present
                    if (IsReferenceFullyDefined())
                        _link = CreateLink();
                }

                return _link;
            }
        }{{/HRef}}

        /// <summary>
        /// Indicates whether the reference has been fully defined (all key values are currently assigned non-default values).
        /// </summary>
        /// <returns><b>true</b> if the reference's properties are all set to non-default values; otherwise <b>false</b>.</returns>
        public bool IsReferenceFullyDefined()
        {
            return {{#ReferenceIdentifiers}}{{#IsFirstProperty}}{{PropertyName}} != default({{PropertyType}}){{/IsFirstProperty}}{{^IsFirstProperty}} && {{PropertyName}} != default({{PropertyType}}){{/IsFirstProperty}}{{/ReferenceIdentifiers}};
        }

        {{#HRef}}
        private Link CreateLink()
        {
            {{#StandardLink}}
            var link = new Link
            {
                Rel = "{{ResourceName}}",
                Href = $"{{ResourceBaseRoute}}/{ResourceId:n}"
            };
            {{/StandardLink}}

            {{^HasDiscriminator}}
            return link;
            {{/HasDiscriminator}}
            {{#HasDiscriminator}}
            if (string.IsNullOrEmpty(Discriminator))
                return link;

            string[] linkParts = Discriminator.Split('.');

            if (linkParts.Length < 2)
                return link;

            var resource = GeneratedArtifactStaticDependencies.ResourceModelProvider.GetResourceModel()
                .GetResourceByFullName(new FullName(linkParts[0], linkParts[1]));

            // return the default link if the relationship is already correct, and/or if the resource is not found.
            if (resource == null || link.Rel == resource.Name)
                return link;

            {{#StandardLink}}
            return new Link
            {
                Rel = resource.Name,
                Href = $"/{resource.SchemaUriSegment()}/{resource.PluralName.ToCamelCase()}/{ResourceId:n}"
            };
                {{/StandardLink}}
            {{/HasDiscriminator}}
        }
        {{/HRef}}
    } // Aggregate reference

    {{/ResourceReference}}
    {{#ContextSpecificResourceReferences}}
    {{#ContextSpecificResourceReference}}
    /// <summary>
    /// Represents a reference from the {{ThisEntityName}} entity to the {{OtherEntityName}} resource.
    /// </summary>
    [DataContract]
    [ExcludeFromCodeCoverage]
    public class {{ReferenceName}}Reference
    {
        private {{NamespacePrefix}}I{{ThisEntityName}} backReference;

        // Parameterless constructor for deserialization
        public {{ReferenceName}}Reference() { }

        // Constructor for inline initialization in parent
        public {{ReferenceName}}Reference({{NamespacePrefix}}I{{ThisEntityName}} backReference)
        {
            this.backReference = backReference;
        }

        // Expose back reference internally for access after JSON deserialization to enable link generation
        internal {{NamespacePrefix}}I{{ThisEntityName}} BackReference
        {
            get { return backReference; }
            set { backReference = value; }
        }

        {{#ContextualReferenceIdentifier}}
        private {{PropertyType}} _{{JsonPropertyName}};

        [DataMember(Name="{{JsonPropertyName}}"), NaturalKeyMember]
        public {{PropertyType}} {{PropertyName}}
        {
            get => _{{JsonPropertyName}} == default({{PropertyType}})
                    ? {{PropertyPathToRoot}}.{{PropertyName}}
                    : _{{JsonPropertyName}};
            set => _{{JsonPropertyName}} = value;
        }

        {{/ContextualReferenceIdentifier}}
        {{#ReferenceIdentifiers}}
        [DataMember(Name="{{JsonPropertyName}}"), NaturalKeyMember]
        public {{PropertyType}} {{PropertyName}} { get; set; }

        {{/ReferenceIdentifiers}}
        /// <summary>
        /// Gets or sets the referenced resource's identifier (i.e. "id" property).
        /// </summary>
        public Guid ResourceId { get; set; }

        {{#HasDiscriminator}}
        /// <summary>
        /// Gets or sets the discriminator value which identifies the concrete sub-type of the referenced resource
        /// when a resource has been derived; otherwise <b>null</b>.
        /// </summary>
        public string Discriminator { get; set; }

        {{/HasDiscriminator}}
        {{#HRef}}private Link _link;

        [DataMember(Name="link")]
        public Link Link
        {
            get
            {
                if (_link == null)
                {
                    // Can't generate a link without the back reference
                    if (backReference == null)
                        return null;

                    // Only generate links when all values are present
                    if (IsReferenceFullyDefined())
                        _link = CreateLink();
                }

                return _link;
            }
        }{{/HRef}}

        /// <summary>
        /// Indicates whether the reference has been fully defined (all key values are currently assigned non-default values).
        /// </summary>
        /// <returns><b>true</b> if the reference's properties are all set to non-default values; otherwise <b>false</b>.</returns>
        public bool IsReferenceFullyDefined()
        {
            return {{#ReferenceIdentifiers}}{{#IsFirstProperty}}{{{PropertyName}}} != default({{PropertyType}}){{/IsFirstProperty}}{{^IsFirstProperty}}
                && {{{PropertyName}}} != default({{PropertyType}}){{/IsFirstProperty}}{{/ReferenceIdentifiers}}{{^ReferenceIdentifiers}}true{{/ReferenceIdentifiers}}
                ;
        }

        {{#HRef}}
        private Link CreateLink()
        {
            {{#StandardLink}}
            var link = new Link
            {
                Rel = "{{OtherEntityName}}",
                Href = $"{{ResourceBaseRoute}}/{ResourceId:n}"
            };
            {{/StandardLink}}

            {{^HasDiscriminator}}
            return link;
            {{/HasDiscriminator}}
            {{#HasDiscriminator}}
            if (string.IsNullOrEmpty(Discriminator))
                return link;

            string[] linkParts = Discriminator.Split('.');

            if (linkParts.Length < 2)
                return link;

            var resource = GeneratedArtifactStaticDependencies.ResourceModelProvider.GetResourceModel()
                .GetResourceByFullName(new FullName(linkParts[0], linkParts[1]));

            // return the default link if the relationship is already correct, and/or if the resource is not found.
            if (resource == null || link.Rel == resource.Name)
                return link;

            {{#StandardLink}}
            return new Link
            {
                Rel = resource.Name,
                Href = $"/{resource.SchemaUriSegment()}/{resource.PluralName.ToCamelCase()}/{ResourceId:n}"
            };
            {{/StandardLink}}
            {{/HasDiscriminator}}
        }
        {{/HRef}}
    }

    {{/ContextSpecificResourceReference}}
    {{/ContextSpecificResourceReferences}}
    {{#ShouldRenderClass}}
    /// <summary>
    /// A class which represents the {{FQName}} table of the {{ResourceName}} aggregate in the ODS Database.
    /// </summary>
    [Serializable, DataContract]
    [ExcludeFromCodeCoverage]
    {{#HasRequiredMembersWithMeaningfulDefaultValues}}
    [NoUnsuppliedRequiredMembersWithMeaningfulDefaults]
    {{/HasRequiredMembersWithMeaningfulDefaultValues}}
    public {{#IsAbstract}}abstract {{/IsAbstract}}class {{ClassName}} : {{NamespacePrefix}}I{{EntityName}}{{DerivedName}}{{#IsAggregateRoot}}, IHasETag, IDateVersionedEntity{{/IsAggregateRoot}}{{#HasRequiredMembersWithMeaningfulDefaultValues}}, IHasRequiredMembersWithMeaningfulDefaultValues{{/HasRequiredMembersWithMeaningfulDefaultValues}}{{#IsResourceExtensionClass}}, IChildEntity{{/IsResourceExtensionClass}}
    {
#pragma warning disable 414
        private bool _SuspendReferenceAssignmentCheck = false;
        public void SuspendReferenceAssignmentCheck() { _SuspendReferenceAssignmentCheck = true; }
#pragma warning restore 414

        // =============================================================
        //                         Constructor
        // -------------------------------------------------------------

        {{#Constructor}}
        public {{ClassName}}()
        {
            {{#Standard}}
            {{#Collections}}
            {{PropertyName}} = new List<{{CollectionName}}>();
            {{/Collections}}
            {{/Standard}}
            {{#Inherited}}

            // Inherited lists
            {{#InheritedCollections}}
            {{PropertyName}} = new List<{{BaseEntity}}.{{CollectionName}}>();
            {{/InheritedCollections}}
            {{/Inherited}}
        }
        {{/Constructor}}
        // ------------------------------------------------------------

        // ============================================================
        //                Unique Identifier
        // ------------------------------------------------------------
        {{#Guid}}

        /// <summary>
        /// The unique identifier for the {{EntityName}} resource.
        /// </summary>
        [DataMember(Name="id")]
        [JsonConverter(typeof({{GuidConverterTypeName}}))]
        public Guid Id { get; set; }
        {{/Guid}}
        // ------------------------------------------------------------

        // =============================================================
        //                         References
        // -------------------------------------------------------------
        {{#References}}

        {{#Collections}}
        {{#Standard}}
        {{#Reference}}
        private bool _{{PropertyFieldName}}ExplicitlyAssigned;
        private {{ReferenceTypeName}} _{{PropertyFieldName}};
        private {{ReferenceTypeName}} Implicit{{PropertyName}}
        {
            get
            {
                // if the Reference is null, it is instantiated unless it has been explicitly assigned to null
                if (_{{PropertyFieldName}} == null && !_{{PropertyFieldName}}ExplicitlyAssigned)
                    _{{PropertyFieldName}} = new {{ReferenceTypeName}}();

                return _{{PropertyFieldName}};
            }
        }

        [DataMember(Name="{{JsonPropertyName}}")]{{#IsIdentifying}}[NaturalKeyMember]{{/IsIdentifying}}
        public {{ReferenceTypeName}} {{PropertyName}}
        {
            get
            {
                // Only return the reference if it's non-null, and all its properties have non-default values assigned
                if (Implicit{{PropertyName}} != null
                    && (_{{PropertyFieldName}}ExplicitlyAssigned || _SuspendReferenceAssignmentCheck || Implicit{{PropertyName}}.IsReferenceFullyDefined()))
                    return Implicit{{PropertyName}};

                return null;
            }
            set
            {
                _{{PropertyFieldName}}ExplicitlyAssigned = true;
                _{{PropertyFieldName}} = value;
            }
        }
        {{/Reference}}
        {{/Standard}}
        {{#Backref}}
        {{#Reference}}
        private bool _{{PropertyFieldName}}ExplicitlyAssigned;
        private {{BackReferenceType}} _{{PropertyFieldName}};
        private {{BackReferenceType}} Implicit{{PropertyName}}
        {
            get
            {
                // if the Reference is null, it is instantiated unless it has been explicitly assigned to null
                if (_{{PropertyFieldName}} == null && !_{{PropertyFieldName}}ExplicitlyAssigned)
                    _{{PropertyFieldName}} = new {{BackReferenceType}}(this);

                return _{{PropertyFieldName}};
            }
        }

        [DataMember(Name="{{JsonPropertyName}}")]{{#IsIdentifying}}[NaturalKeyMember]{{/IsIdentifying}}
        public {{BackReferenceType}} {{PropertyName}}
        {
            get
            {
                // Only return the reference if it's non-null, and all its properties have non-default values assigned
                if (Implicit{{PropertyName}} != null
                    && (_{{PropertyFieldName}}ExplicitlyAssigned || _SuspendReferenceAssignmentCheck || Implicit{{PropertyName}}.IsReferenceFullyDefined()))
                    return Implicit{{PropertyName}};

                return null;
            }
            set
            {
                _{{PropertyFieldName}}ExplicitlyAssigned = true;
                _{{PropertyFieldName}} = value;
                _{{PropertyFieldName}}.BackReference = this;
            }
        }
        {{/Reference}}
        {{/Backref}}
        {{/Collections}}
        {{/References}}
        // -------------------------------------------------------------

        //==============================================================
        //                         Primary Key
        // -------------------------------------------------------------
        {{#Identifiers}}
        {{#Properties}}
        {{#HasParent}}
        {{#Property}}
        private {{ParentNamespacePrefix}}I{{ParentName}} _{{ParentFieldName}};

        [IgnoreDataMember]
        {{ParentNamespacePrefix}}I{{ParentName}} {{PropertyName}}.{{ParentName}}
        {
            get { return _{{ParentFieldName}}; }
            set { Set{{ParentName}}(value); }
        }

        internal {{ParentNamespacePrefix}}I{{ParentName}} {{ParentName}}
        {
            set { Set{{ParentName}}(value); }
        }

        private void Set{{ParentName}}({{ParentNamespacePrefix}}I{{ParentName}} value)
        {
            _{{ParentFieldName}} = value;
            {{#ReferencesWithUnifiedKey}}

            // Initialize unified key values from parent context when reference is being formed by outbound mapper
            if (!_{{ReferenceFieldName}}ExplicitlyAssigned)
            {
                {{#UnifiedKeyProperties}}
                Implicit{{ReferencePropertyName}}.{{UnifiedKeyPropertyName}} = _{{ParentFieldName}}{{PropertyPath}}.{{UnifiedKeyPropertyName}};
                {{/UnifiedKeyProperties}}
            }
            {{/ReferencesWithUnifiedKey}}
        }
        {{/Property}}
        {{/HasParent}}
        {{#Usi}}
        {{#Property}}

        /// <summary>
        /// {{{Description}}}
        /// </summary>
        {{{Misc}}}
        [DataMember(Name="{{JsonPropertyName}}"), NaturalKeyMember{{#IsUnique}}, UniqueId{{/IsUnique}}]{{#IsDateOnlyProperty}}[JsonConverter(typeof(Iso8601UtcDateOnlyConverter))]{{/IsDateOnlyProperty}}{{#IsTimeSpanProperty}}[JsonConverter(typeof(UtcTimeConverter))]{{/IsTimeSpanProperty}}
        public {{PropertyType}} {{PropertyName}} { get; set; }

        {{PropertyType}} IIdentifiablePerson.UniqueId { get { return {{PropertyName}}; } }
        {{/Property}}
        {{/Usi}}
        {{#Standard}}
        {{#Property}}
        {{#PropertyDefaultHasDomainMeaning}}
        
        private bool _{{PropertyFieldName}}ExplicitlyAssigned = false;
        private {{PropertyType}} _{{PropertyFieldName}};

        /// <summary>
        /// {{{Description}}}
        /// </summary>
        {{Misc}}
        [DataMember(Name="{{JsonPropertyName}}"), NaturalKeyMember{{#IsUnique}}, UniqueId{{/IsUnique}}]{{#IsDateOnlyProperty}}[JsonConverter(typeof(Iso8601UtcDateOnlyConverter))]{{/IsDateOnlyProperty}}{{#IsTimeSpanProperty}}[JsonConverter(typeof(UtcTimeConverter))]{{/IsTimeSpanProperty}}
        public {{PropertyType}} {{CSharpSafePropertyName}} 
        { 
            get => _{{PropertyFieldName}};
            set 
            { 
                _{{PropertyFieldName}} = value;
                _{{PropertyFieldName}}ExplicitlyAssigned = true; 
            }
        }
        {{/PropertyDefaultHasDomainMeaning}}

        {{^PropertyDefaultHasDomainMeaning}}
        /// <summary>
        /// {{{Description}}}
        /// </summary>
        {{Misc}}
        [DataMember(Name="{{JsonPropertyName}}"), NaturalKeyMember{{#IsUnique}}, UniqueId{{/IsUnique}}]{{#IsDateOnlyProperty}}[JsonConverter(typeof(Iso8601UtcDateOnlyConverter))]{{/IsDateOnlyProperty}}{{#IsTimeSpanProperty}}[JsonConverter(typeof(UtcTimeConverter))]{{/IsTimeSpanProperty}}
        public {{PropertyType}} {{CSharpSafePropertyName}} { get; set; }
        {{/PropertyDefaultHasDomainMeaning}}
        {{/Property}}
        {{/Standard}}
        {{#Referenced}}
        {{#Property}}

        {{#PropertyIsUnifiedAndLocallyDefined}}
        private {{PropertyType}} _{{PropertyFieldName}};
            {{#PropertyDefaultHasDomainMeaning}}
        private bool _{{PropertyFieldName}}ExplicitlyAssigned = false;
            {{/PropertyDefaultHasDomainMeaning}}

        {{/PropertyIsUnifiedAndLocallyDefined}}
        /// <summary>
        /// {{{Description}}}
        /// </summary>
        {{Misc}}
        {{#PropertyIsUnifiedAndLocallyDefined}}
        [DataMember(Name="{{JsonPropertyName}}"), NaturalKeyMember]
        public {{PropertyType}} {{PropertyName}}
        {{/PropertyIsUnifiedAndLocallyDefined}}
        {{^PropertyIsUnifiedAndLocallyDefined}}
        {{PropertyType}} {{PropertyNamespacePrefix}}I{{ParentName}}.{{PropertyName}}
        {{/PropertyIsUnifiedAndLocallyDefined}}
        {
            get
            {
                {{#PropertyIsUnifiedAndLocallyDefined}}
                return _{{PropertyFieldName}};
                {{/PropertyIsUnifiedAndLocallyDefined}}
                {{^PropertyIsUnifiedAndLocallyDefined}}
                if (Implicit{{ImplicitPropertyName}}Reference != null
                    && (_SuspendReferenceAssignmentCheck || Implicit{{ImplicitPropertyName}}Reference.IsReferenceFullyDefined()))
                    return Implicit{{ImplicitPropertyName}}Reference.{{ParentPropertyName}};

                return default({{PropertyType}});
                {{/PropertyIsUnifiedAndLocallyDefined}}
            }
            set
            {
                {{#PropertyIsUnifiedAndLocallyDefined}}
                _{{PropertyFieldName}} = value;
                    {{#PropertyDefaultHasDomainMeaning}}
                _{{PropertyFieldName}}ExplicitlyAssigned = true;
                    {{/PropertyDefaultHasDomainMeaning}}

                {{/PropertyIsUnifiedAndLocallyDefined}}
                // When a property is assigned, Reference should not be null even if it has been explicitly assigned to null.
                // All ExplicitlyAssigned are reset to false in advanced
                {{#UnifiedKeys}}

                // {{ReferenceName}}
                _{{ReferenceFieldName}}ReferenceExplicitlyAssigned = false;
                Implicit{{ReferenceName}}Reference.{{ParentPropertyName}} = value;
                {{/UnifiedKeys}}
                {{#UnifiedExtensions}}

                // {{ReferenceName}}
                _{{ReferenceFieldName}}ReferenceExplicitlyAssigned = false;
                Implicit{{ReferenceName}}Reference.{{ParentPropertyName}} = value;
                {{/UnifiedExtensions}}
            }
        }
        {{/Property}}
        {{/Referenced}}
        {{#UnifiedType}}

        {{#Property}}
        /// <summary>
        /// {{{Description}}}
        /// </summary>

        {{Misc}}
        {{PropertyType}} {{PropertyNamespacePrefix}}I{{ParentName}}.{{PropertyName}}
        {
            get
            {
                if (Implicit{{ImplicitPropertyName}}Reference != null
                    && (_SuspendReferenceAssignmentCheck || Implicit{{ImplicitPropertyName}}Reference.IsReferenceFullyDefined()))
                    return Implicit{{ImplicitPropertyName}}Reference.{{ParentPropertyName}};

                return null;
            }
            set
            {
                {{#UnifiedKeys}}
                Implicit{{ReferenceName}}Reference.{{ParentPropertyName}} = value;
                {{/UnifiedKeys}}
                {{#UnifiedExtensions}}
                Implicit{{ReferenceName}}Reference.{{ParentPropertyName}} = value;
                {{/UnifiedExtensions}}
            }
        }
        {{/Property}}
        {{/UnifiedType}}
        {{#Derived}}
        {{#Property}}

        /// <summary>
        /// {{{Description}}}
        /// </summary>
        {{{Misc}}}
        [DataMember(Name="{{JsonPropertyName}}"), NaturalKeyMember]{{#IsDateOnlyProperty}}[JsonConverter(typeof(Iso8601UtcDateOnlyConverter))]{{/IsDateOnlyProperty}}{{#IsTimeSpanProperty}}[JsonConverter(typeof(UtcTimeConverter))]{{/IsTimeSpanProperty}}
        public {{PropertyType}} {{PropertyName}} { get; set; }

        {{PropertyType}} I{{DerivedName}}.{{DerivedName}}Id
        {
            get { return {{PropertyName}}; }
            set { {{PropertyName}} = value; }
        }
        {{/Property}}
        {{/Derived}}
        {{/Properties}}
        // -------------------------------------------------------------

        // =============================================================
        //                      Equality
        // -------------------------------------------------------------

        /// <summary>
        /// Determines equality based on the natural key properties of the resource.
        /// </summary>
        /// <returns>
        /// A boolean value indicating equality result of the compared resources.
        /// </returns>
        public override bool Equals(object obj)
        {
            var compareTo = obj as {{NamespacePrefix}}I{{EntityName}};

            if (ReferenceEquals(this, compareTo))
                return true;

            if (compareTo == null)
                return false;

            {{#Properties}}
            {{#HasParent}}
            // Parent Property
            if (_{{ParentFieldName}} == null || !_{{ParentFieldName}}.Equals(compareTo.{{InterfaceParentFieldName}}))
                return false;

            {{/HasParent}}
            {{#Usi}}
            {{#Property}}
            // Property
            {{#IsNullable}}
            if ((this as {{NamespacePrefix}}I{{ClassName}}).{{PropertyName}} == null
                || !(this as {{NamespacePrefix}}I{{ClassName}}).{{PropertyName}}.Equals(compareTo.{{PropertyName}}))
                return false;
            {{/IsNullable}}
            {{^IsNullable}}
            if ((this as {{NamespacePrefix}}I{{ClassName}}).{{PropertyName}}.Equals(compareTo.{{PropertyName}}))
                return false;
            {{/IsNullable}}
            {{/Property}}
            {{/Usi}}
            {{#Standard}}
            {{#Property}}

            // Standard Property
            {{#IsNullable}}
            if ((this as {{NamespacePrefix}}I{{ClassName}}).{{CSharpSafePropertyName}} == null
                || !(this as {{NamespacePrefix}}I{{ClassName}}).{{CSharpSafePropertyName}}.Equals(compareTo.{{CSharpSafePropertyName}}))
                return false;
            {{/IsNullable}}
            {{^IsNullable}}
             if ((this as {{NamespacePrefix}}I{{ClassName}}).{{CSharpSafePropertyName}}.Equals(compareTo.{{CSharpSafePropertyName}}))
                return false;
            {{/IsNullable}}

            {{/Property}}
            {{/Standard}}
            {{#Referenced}}
            {{#Property}}

            // Referenced Property
            {{#IsNullable}}
            if ((this as {{NamespacePrefix}}I{{ClassName}}).{{PropertyName}} == null
                || !(this as {{NamespacePrefix}}I{{ClassName}}).{{PropertyName}}.Equals(compareTo.{{PropertyName}}))
                return false;
            {{/IsNullable}}
            {{^IsNullable}}
            if (!(this as {{NamespacePrefix}}I{{ClassName}}).{{PropertyName}}.Equals(compareTo.{{PropertyName}}))
                return false;
            {{/IsNullable}}

            {{/Property}}
            {{/Referenced}}
            {{#UnifiedType}}
            {{#Property}}

            // Unified Type Property
            {{#IsNullable}}
            if ((this as {{NamespacePrefix}}I{{ClassName}}).{{PropertyName}} == null
                ||!(this as {{NamespacePrefix}}I{{ClassName}}).{{PropertyName}}.Equals(compareTo.{{PropertyName}}))
                return false;
            {{/IsNullable}}
            {{^IsNullable}}
            if (!(this as {{NamespacePrefix}}I{{ClassName}}).{{PropertyName}}.Equals(compareTo.{{PropertyName}}))
                return false;
            {{/IsNullable}}

            {{/Property}}
            {{/UnifiedType}}
            {{#Derived}}
            {{#Property}}

            // Derived Property
            {{#IsNullable}}
            if ((this as {{NamespacePrefix}}I{{ClassName}}).{{PropertyName}} == null
                || !(this as {{NamespacePrefix}}I{{ClassName}}).{{PropertyName}}.Equals(compareTo.{{PropertyName}}))
                return false;
            {{/IsNullable}}
            {{^IsNullable}}
            if (!(this as {{NamespacePrefix}}I{{ClassName}}).{{PropertyName}}.Equals(compareTo.{{PropertyName}}))
                return false;
            {{/IsNullable}}

            {{/Property}}
            {{/Derived}}
            {{/Properties}}

            return true;
        }

        /// <summary>
        /// Builds the hash code based on the unique identifying values.
        /// </summary>
        /// <returns>
        /// A hash code for the resource.
        /// </returns>
        public override int GetHashCode()
        {
            var hash = new HashCode();
            {{#Properties}}
            {{#HasParent}}
            //Parent Property
            if (_{{ParentFieldName}} != null)
                hash.Add(_{{ParentFieldName}});
            {{/HasParent}}
            {{#Usi}}
            {{#Property}}

            //Property
            {{#IsNullable}}
            if ((this as {{NamespacePrefix}}I{{ClassName}}).{{PropertyName}} != null)
                hash.Add((this as {{NamespacePrefix}}I{{ClassName}}).{{PropertyName}});
            {{/IsNullable}}
            {{^IsNullable}}
            hash.Add((this as {{NamespacePrefix}}I{{ClassName}}).{{PropertyName}});
            {{/IsNullable}}

            {{/Property}}
            {{/Usi}}
            {{#Standard}}
            {{#Property}}

            // Standard Property
            {{#IsNullable}}
            if ((this as {{NamespacePrefix}}I{{ClassName}}).{{CSharpSafePropertyName}} != null)
                hash.Add((this as {{NamespacePrefix}}I{{{ClassName}}}).{{CSharpSafePropertyName}});
            {{/IsNullable}}
            {{^IsNullable}}
                hash.Add((this as {{NamespacePrefix}}I{{{ClassName}}}).{{CSharpSafePropertyName}});
            {{/IsNullable}}

            {{/Property}}
            {{/Standard}}
            {{#Referenced}}
            {{#Property}}

            //Referenced Property
            {{#IsNullable}}
            if ((this as {{NamespacePrefix}}I{{ClassName}}).{{PropertyName}} != null)
                hash.Add((this as {{NamespacePrefix}}I{{{ClassName}}}).{{PropertyName}});
            {{/IsNullable}}
            hash.Add((this as {{NamespacePrefix}}I{{{ClassName}}}).{{PropertyName}});
            {{/Property}}
            {{/Referenced}}
            {{#UnifiedType}}
            {{#Property}}

            //Unified Type Property
            {{#IsNullalbe}}
            if ((this as {{NamespacePrefix}}I{{ClassName}}).{{PropertyName}} != null)
                hash.Add((this as {{NamespacePrefix}}I{{{ClassName}}}).{{PropertyName}});
            {{/IsNullalbe}}
            {{^IsNullable}}
            hash.Add((this as {{NamespacePrefix}}I{{{ClassName}}}).{{PropertyName}});
            {{/IsNullable}}

            {{/Property}}
            {{/UnifiedType}}
            {{#Derived}}
            {{#Property}}

            //Derived Property
            {{#IsNullable}}
            if ((this as {{NamespacePrefix}}I{{ClassName}}).{{PropertyName}} != null)
                hash.Add((this as {{NamespacePrefix}}I{{{ClassName}}}).{{PropertyName}});
            {{/IsNullable}}
            {{^IsNullable}}
            hash.Add((this as {{NamespacePrefix}}I{{{ClassName}}}).{{PropertyName}});
            {{/IsNullable}}

            {{/Property}}
            {{/Derived}}
            {{/Properties}}
            return hash.ToHashCode();
        }
        // -------------------------------------------------------------
        {{/Identifiers}}

        // =============================================================
        //                      Inherited Properties
        // -------------------------------------------------------------
        {{#InheritedProperties}}
        {{#Properties}}
        {{#Standard}}
        {{#Property}}

        /// <summary>
        /// {{{Description}}}
        /// </summary>
        {{{Misc}}}
        [DataMember(Name="{{JsonPropertyName}}")]{{#IsDateOnlyProperty}}[JsonConverter(typeof(Iso8601UtcDateOnlyConverter))]{{/IsDateOnlyProperty}}{{#IsTimeSpanProperty}}[JsonConverter(typeof(UtcTimeConverter))]{{/IsTimeSpanProperty}}
        public {{PropertyType}} {{PropertyName}} { get; set; }
        {{/Property}}
        {{/Standard}}
        {{/Properties}}
        {{/InheritedProperties}}
        // -------------------------------------------------------------

        // =============================================================
        //                          Properties
        // -------------------------------------------------------------
        {{#NonIdentifiers}}
        {{#Properties}}
        {{#Referenced}}
        {{#Property}}

        {{#PropertyIsUnifiedAndLocallyDefined}}
        private {{PropertyType}} _{{PropertyFieldName}};
            {{#PropertyDefaultHasDomainMeaning}}
        private bool _{{PropertyFieldName}}ExplicitlyAssigned = false;
            {{/PropertyDefaultHasDomainMeaning}}

        {{/PropertyIsUnifiedAndLocallyDefined}}
        /// <summary>
        /// {{{Description}}}
        /// </summary>
        {{Misc}}
        {{#PropertyIsUnifiedAndLocallyDefined}}
        [DataMember(Name="{{JsonPropertyName}}")]
        public {{PropertyType}} {{PropertyName}}
        {{/PropertyIsUnifiedAndLocallyDefined}}
        {{^PropertyIsUnifiedAndLocallyDefined}}
        {{PropertyType}} {{NamespacePrefix}}I{{ParentName}}.{{PropertyName}}
        {{/PropertyIsUnifiedAndLocallyDefined}}
        {
            get
            {
                {{#PropertyIsUnifiedAndLocallyDefined}}
                return _{{PropertyFieldName}};
                {{/PropertyIsUnifiedAndLocallyDefined}}
                {{^PropertyIsUnifiedAndLocallyDefined}}
                {{#UnifiedKeys}}
                if (Implicit{{ReferenceName}}Reference != null
                    && (_SuspendReferenceAssignmentCheck || Implicit{{ReferenceName}}Reference.IsReferenceFullyDefined()))
                    {
                        return Implicit{{ReferenceName}}Reference.{{ParentPropertyName}};
                    }

                {{/UnifiedKeys}}
                {{#UnifiedExtensions}}
                if (Implicit{{ReferenceName}}Reference != null
                    && (_SuspendReferenceAssignmentCheck || Implicit{{ReferenceName}}Reference.IsReferenceFullyDefined()))
                    {
                        return Implicit{{ReferenceName}}Reference.{{ParentPropertyName}};
                    }

                {{/UnifiedExtensions}}
                return default({{PropertyType}});
                {{/PropertyIsUnifiedAndLocallyDefined}}
            }
            set
            {
                {{#PropertyIsUnifiedAndLocallyDefined}}
                _{{PropertyFieldName}} = value;
                    {{#PropertyDefaultHasDomainMeaning}}
                _{{PropertyFieldName}}ExplicitlyAssigned = true;
                    {{/PropertyDefaultHasDomainMeaning}}

                {{/PropertyIsUnifiedAndLocallyDefined}}
                // When a property is assigned, Reference should not be null even if it has been explicitly assigned to null.
                // All ExplicitlyAssigned are reset to false in advanced
                {{#UnifiedKeys}}

                // {{ReferenceName}}
                _{{ReferenceFieldName}}ReferenceExplicitlyAssigned = false;
                Implicit{{ReferenceName}}Reference.{{ParentPropertyName}} = value{{{ImplicitNullable}}};
                {{/UnifiedKeys}}
                {{#UnifiedExtensions}}

                // {{ReferenceName}}
                _{{ReferenceFieldName}}ReferenceExplicitlyAssigned = false;
                Implicit{{ReferenceName}}Reference.{{ParentPropertyName}} = value{{{ImplicitNullable}}};
                {{/UnifiedExtensions}}
            }
        }
        {{/Property}}
        {{/Referenced}}
        {{#UnifiedType}}

        {{#Property}}
        /// <summary>
        /// {{{Description}}}
        /// </summary>

        {{Misc}}
        {{PropertyType}} {{NamespacePrefix}}I{{ParentName}}.{{PropertyName}}
        {
            get
            {
                {{#UnifiedKeys}}
                if (Implicit{{ReferenceName}}Reference != null
                    && (_SuspendReferenceAssignmentCheck || Implicit{{ReferenceName}}Reference.IsReferenceFullyDefined()))
                    {
                        return Implicit{{ReferenceName}}Reference.{{ParentPropertyName}};
                    }

                {{/UnifiedKeys}}
                {{#UnifiedExtensions}}
                if (Implicit{{ReferenceName}}Reference != null
                    && (_SuspendReferenceAssignmentCheck || Implicit{{ReferenceName}}Reference.IsReferenceFullyDefined()))
                    {
                        return Implicit{{ReferenceName}}Reference.{{ParentPropertyName}};
                    }

                {{/UnifiedExtensions}}
                return null;
            }
            set
            {
                {{#UnifiedKeys}}
                Implicit{{ReferenceName}}Reference.{{ParentPropertyName}} = value{{{ImplicitNullable}}};
                {{/UnifiedKeys}}
                {{#UnifiedExtensions}}
                Implicit{{ReferenceName}}Reference.{{ParentPropertyName}} = value{{{ImplicitNullable}}};
                {{/UnifiedExtensions}}
            }
        }
        {{/Property}}
        {{/UnifiedType}}
        {{#Standard}}
        {{#Property}}
        {{#PropertyDefaultHasDomainMeaning}}
        
        private bool _{{PropertyFieldName}}ExplicitlyAssigned = false;
        private {{PropertyType}} _{{PropertyFieldName}};

        /// <summary>
        /// {{{Description}}}
        /// </summary>
        {{Misc}}
        [DataMember(Name="{{JsonPropertyName}}")]{{#IsDateOnlyProperty}}[JsonConverter(typeof(Iso8601UtcDateOnlyConverter))]{{/IsDateOnlyProperty}}{{#IsTimeSpanProperty}}[JsonConverter(typeof(UtcTimeConverter))]{{/IsTimeSpanProperty}}
        public {{PropertyType}} {{CSharpSafePropertyName}} 
        { 
            get => _{{PropertyFieldName}};
            set 
            { 
                _{{PropertyFieldName}} = value;
                _{{PropertyFieldName}}ExplicitlyAssigned = true; 
            }
        }
        {{/PropertyDefaultHasDomainMeaning}}

        {{^PropertyDefaultHasDomainMeaning}}
        /// <summary>
        /// {{{Description}}}
        /// </summary>
        {{Misc}}
        [DataMember(Name="{{JsonPropertyName}}")]{{#IsDateOnlyProperty}}[JsonConverter(typeof(Iso8601UtcDateOnlyConverter))]{{/IsDateOnlyProperty}}{{#IsTimeSpanProperty}}[JsonConverter(typeof(UtcTimeConverter))]{{/IsTimeSpanProperty}}
        public {{PropertyType}} {{CSharpSafePropertyName}} { get; set; }
        {{/PropertyDefaultHasDomainMeaning}}
        {{/Property}}
        {{/Standard}}
        {{/Properties}}
        {{/NonIdentifiers}}
        // -------------------------------------------------------------
        {{#HasRequiredMembersWithMeaningfulDefaultValues}}

        IEnumerable<string> IHasRequiredMembersWithMeaningfulDefaultValues.GetUnassignedMemberNames()
        {
            {{#RequiredMembersWithMeaningfulDefaultValues}}
            if (!_{{PropertyFieldName}}ExplicitlyAssigned)
            {
                yield return "{{CSharpSafePropertyName}}";
            }
            {{/RequiredMembersWithMeaningfulDefaultValues}}
        }
        {{/HasRequiredMembersWithMeaningfulDefaultValues}}

        // =============================================================
        //                     One-to-one relationships
        // -------------------------------------------------------------
        {{#NavigableOneToOnes}}
        /// <summary>
        /// {{JsonPropertyName}}
        /// </summary>
        [DataMember(Name = "{{JsonPropertyName}}")]
        public {{EmbeddedObjectType}} {{PropertyName}} { get; set; }

        {{EmbeddedObjectNamespacePrefix}}I{{EmbeddedObjectType}} {{NamespacePrefix}}I{{ParentName}}.{{PropertyName}}
        {
            get { return {{PropertyName}}; }
            set { {{PropertyName}} = ({{EmbeddedObjectType}}) value; }
        }

        {{/NavigableOneToOnes}}
        // -------------------------------------------------------------

        // =============================================================
        //              Inherited One-to-one relationships
        // -------------------------------------------------------------
        {{#InheritedNavigableOneToOnes}}
        /// <summary>
        /// {{JsonPropertyName}}
        /// </summary>
        [DataMember(Name = "{{JsonPropertyName}}")]
        public {{EmbeddedObjectTypeNamespace}}{{EmbeddedObjectType}} {{PropertyName}} { get; set; }

        {{EmbeddedObjectInterfaceNamespacePrefix}}{{EmbeddedObjectInterfaceType}} {{BaseEntityNamespacePrefix}}I{{BaseEntityName}}.{{PropertyName}}
        {
            get { return {{PropertyName}}; }
            set { {{PropertyName}} = ({{EmbeddedObjectTypeNamespace}}{{EmbeddedObjectType}}) value; }
        }

        {{/InheritedNavigableOneToOnes}}
        // -------------------------------------------------------------

        // =============================================================
        //                     Inherited Collections
        // -------------------------------------------------------------
        {{#InheritedCollections}}
        {{#Inherited}}
        private ICollection<{{BaseEntity}}.{{ItemType}}> _{{PropertyFieldName}};
        private ICollection<{{ItemTypeNamespacePrefix}}I{{ItemType}}> _{{PropertyFieldName}}Covariant;

        [DataMember(Name="{{JsonPropertyName}}"), NoDuplicateMembers]
        public ICollection<{{BaseEntity}}.{{ItemType}}> {{Collection}}
        {
            get { return _{{PropertyFieldName}}; }
            set
            {
                _{{PropertyFieldName}} = value;
                _{{PropertyFieldName}}Covariant = new CovariantCollectionAdapter<{{ItemTypeNamespacePrefix}}I{{ItemType}}, {{BaseEntity}}.{{ItemType}}>(value);
            }
        }

        // Covariant version, visible only on the interface
        ICollection<{{ItemTypeNamespacePrefix}}I{{ItemType}}> {{ItemTypeNamespacePrefix}}I{{ParentName}}.{{Collection}}
        {
            get { return _{{PropertyFieldName}}Covariant; }
            set { {{Collection}} = new List<{{BaseEntity}}.{{ItemType}}>(value.Cast<{{BaseEntity}}.{{ItemType}}>()); }
        }
        {{/Inherited}}
        {{/InheritedCollections}}
        // -------------------------------------------------------------

        // =============================================================
        //                     Extensions
        // -------------------------------------------------------------
        {{#IsExtendable}}
        [JsonProperty("_ext")]
        [JsonConverter(typeof(ExtensionsConverter), "{{ResourceName}}", "{{EntityName}}")]
        public System.Collections.IDictionary Extensions { get; set; }
        {{/IsExtendable}}
        {{^IsExtendable}}
        // NOT a lookup column, Not supported by this model, so there's "null object pattern" style implementation
        public System.Collections.IDictionary Extensions {
            get { return null; }
            set { }
        }
        {{/IsExtendable}}
        // -------------------------------------------------------------

        // =============================================================
        //                          Collections
        // -------------------------------------------------------------
        {{#Collections}}
        private ICollection<{{ItemType}}> _{{PropertyFieldName}};
        private ICollection<{{ItemTypeNamespacePrefix}}I{{ItemType}}> _{{PropertyFieldName}}Covariant;

        [DataMember(Name="{{JsonPropertyName}}"), NoDuplicateMembers]
        public ICollection<{{ItemType}}> {{Collection}}
        {
            get { return _{{PropertyFieldName}}; }
            set
            {
                if (value == null) return;
                // Initialize primary list with notifying adapter immediately wired up so existing items are associated with the parent
                var list = new CollectionAdapterWithAddNotifications<{{ItemType}}>(value,
                    (s, e) => (({{ItemTypeNamespacePrefix}}I{{ItemType}})e.Item).{{ParentName}} = this);
                _{{PropertyFieldName}} = list;

                // Initialize covariant list with notifying adapter with deferred wire up so only new items are processed (optimization)
                var covariantList = new CovariantCollectionAdapterWithAddNotifications<{{ItemTypeNamespacePrefix}}I{{ItemType}}, {{ItemType}}>(value);
                covariantList.ItemAdded += (s, e) => (({{ItemTypeNamespacePrefix}}I{{ItemType}})e.Item).{{ParentName}} = this;
                _{{PropertyFieldName}}Covariant = covariantList;
            }
        }

        // Covariant version, visible only on the interface
        ICollection<{{ItemTypeNamespacePrefix}}I{{ItemType}}> {{ItemTypeNamespacePrefix}}I{{ParentName}}.{{Collection}}
        {
            get { return _{{PropertyFieldName}}Covariant; }
            set { {{Collection}} = new List<{{ItemType}}>(value.Cast<{{ItemType}}>()); }
        }

        {{/Collections}}
        // -------------------------------------------------------------

        // =============================================================
        //                         Versioning
        // -------------------------------------------------------------
        {{#Versioning}}

        [DataMember(Name="_etag")]
        public virtual string ETag { get; set; }
            
        [DataMember(Name="_lastModifiedDate")]
        public virtual DateTime LastModifiedDate { get; set; }

        {{/Versioning}}
        // -------------------------------------------------------------

        // -------------------------------------------------------------
        //                        OnDeserialize
        // -------------------------------------------------------------
        {{#OnDeserialize}}

        [OnDeserialized]
        internal void OnDeserialized(StreamingContext context)
        {
            // Reconnect external inbound references on deserialization
            {{#BackRef}}
            {{#BackRefCollections}}
            if (_{{PropertyFieldName}} != null)
                _{{PropertyFieldName}}.BackReference = this;
            {{/BackRefCollections}}
            {{/BackRef}}
            {{#Inherited}}
            {{#InheritedCollections}}
            // _{{PropertyFieldName}}
            {{/InheritedCollections}}
            {{/Inherited}}
            {{#Standard}}
            {{#Collections}}
            if (_{{PropertyFieldName}} != null) foreach (var item in _{{PropertyFieldName}})
            {
                item.{{ParentName}} = this;
            }

            {{/Collections}}
            {{/Standard}}
        }
        {{/OnDeserialize}}
        // ------------------------------------------------------------

        // ============================================================
        //                      Data Synchronization
        // ------------------------------------------------------------
        bool ISynchronizable.Synchronize(object target)
        {
            return {{NamespacePrefix}}{{EntityName}}Mapper.SynchronizeTo(this, ({{NamespacePrefix}}I{{EntityName}})target);
        }

        void IMappable.Map(object target)
        {
            {{^IsBaseClassConcrete}}
            {{NamespacePrefix}}{{EntityName}}Mapper.MapTo(this, ({{NamespacePrefix}}I{{EntityName}})target, null);
            {{/IsBaseClassConcrete}}
            {{#IsBaseClassConcrete}}
            {{NamespacePrefix}}{{EntityName}}Mapper.MapDerivedTo(this, ({{NamespacePrefix}}I{{EntityName}})target, null);
            {{/IsBaseClassConcrete}}
        }
        // -------------------------------------------------------------

        // =================================================================
        //                    Resource Reference Data
        // -----------------------------------------------------------------
        {{#ResourceReferences}}
        Guid? {{Namespace}}.I{{ClassName}}.{{ReferenceName}}ResourceId
        {
            get { return null; }
            set { Implicit{{ReferenceName}}Reference.ResourceId = value ?? default(Guid); }
        }

        {{#MappedReferenceDataHasDiscriminator}}
        string {{Namespace}}.I{{ClassName}}.{{ReferenceName}}Discriminator
        {
            // Not supported for Resources
            get { return null; }
            set { Implicit{{ReferenceName}}Reference.Discriminator = value; }
        }

        {{/MappedReferenceDataHasDiscriminator}}

        {{/ResourceReferences}}
        // -----------------------------------------------------------------
        {{#IsResourceExtensionClass}}

        void IChildEntity.SetParent(object value)
        {
            {{ParentName}} = (I{{ParentName}})value;
        }
        {{/IsResourceExtensionClass}}
    }
    {{/ShouldRenderClass}}

    // =================================================================
    //                         Validators
    // -----------------------------------------------------------------
    {{#ShouldRenderValidator}}
    {{#Validator}}

    [ExcludeFromCodeCoverage]
    public class {{EntityName}}PutPostRequestValidator : FluentValidation.AbstractValidator<{{EntityName}}>
    {
        {{#HasCollections}}
        private static readonly FullName _fullName_{{Schema}}_{{EntityName}} = new FullName("{{Schema}}", "{{EntityName}}");

        {{/HasCollections}}
        protected override bool PreValidate(FluentValidation.ValidationContext<{{EntityName}}> context, FluentValidation.Results.ValidationResult result)
        {
            if (context.InstanceToValidate == null)
            {
                result.Errors.Add(new ValidationFailure("", "Please ensure a model was supplied."));

                return false;
            }

            var instance = context.InstanceToValidate;

            var failures = new List<ValidationFailure>();

            {{#HasCollections}}
            // Profile-based collection item filter validation
            string profileName = null;

            // Get the current mapping contract
            var mappingContract = new Lazy<{{ExtensionNamespacePrefix}}{{EntityName}}MappingContract>(() => ({{ExtensionNamespacePrefix}}{{EntityName}}MappingContract) GeneratedArtifactStaticDependencies
                .MappingContractProvider
                .GetMappingContract(_fullName_{{Schema}}_{{EntityName}}));

            if (mappingContract.Value != null)
            {
                {{#Collections}}
                if (mappingContract.Value.Is{{ItemTypeName}}Included != null)
                {
                    var hasInvalid{{PropertyName}}Items = instance.{{PropertyName}}.Any(x => !mappingContract.Value.Is{{ItemTypeName}}Included(x));
        
                    if (hasInvalid{{PropertyName}}Items)
                    {
                        profileName ??= GeneratedArtifactStaticDependencies.ProfileContentTypeContextProvider.Get().ProfileName;
                        failures.Add(new ValidationFailure("{{ItemTypeName}}", $"A supplied '{{ItemTypeName}}' has a descriptor value that does not conform with the filter values defined by profile '{profileName}'."));
                    }
                }

                {{/Collections}}
            }
            {{/HasCollections}}
            // -----------------------
            //  Validate unified keys
            // -----------------------
            {{#KeyUnificationValidations}}
                {{#UnifiedProperties}}
            var sourcesFor{{UnifiedPropertyName}} = Get{{UnifiedPropertyName}}Sources();

            if (!sourcesFor{{UnifiedPropertyName}}.Select(t => t.Item2).Where(v => !v.IsDefaultValue()).AllEqual())
            {
                failures.Add(new ValidationFailure("{{UnifiedPropertyName}}",
                    $"Supplied values for unified key property '{{UnifiedJsonPropertyName}}' on '{{EntityName}}' are not consistent: {string.Join(", ", sourcesFor{{UnifiedPropertyName}}.Select(x => $"{x.Item1} = {x.Item2}"))}"));
            }

            IEnumerable<Tuple<string, {{UnifiedCSharpPropertyType}}>> Get{{UnifiedPropertyName}}Sources()
            {
                {{#UnifiedPropertyIsLocallyDefined}}
                // Obtain value from the locally defined property
                yield return Tuple.Create("{{UnifiedJsonPropertyName}}", instance.{{UnifiedPropertyName}});
                
                {{/UnifiedPropertyIsLocallyDefined}}
                {{#UnifiedPropertyIsFromParent}}
                // Obtain value from the parent
                yield return Tuple.Create("{{UnifiedJsonPropertyName}} (from parent context)", (instance as {{NamespacePrefix}}I{{ResourceClassName}}).{{ParentResourceClassName}}{{UnifiedPropertyParentPath}}.{{UnifiedPropertyName}});

                {{/UnifiedPropertyIsFromParent}}
                {{#References}}
                // Obtain value from other references
                var valueFrom{{ReferenceName}} = instance.{{ReferenceName}}?.{{ReferencePropertyName}};

                if (valueFrom{{ReferenceName}} != null)
                {
                    yield return Tuple.Create("{{ReferenceJsonName}}.{{ReferenceJsonPropertyName}}", instance.{{ReferenceName}}.{{ReferencePropertyName}});
                }

                {{/References}}
            }
                {{/UnifiedProperties}}
            {{/KeyUnificationValidations}}

            // Recursively invoke the child collection item validators
            {{#Collections}}
            var {{PropertyFieldNamePrefix}}Validator = new {{Namespace}}{{ItemTypeName}}PutPostRequestValidator();

            foreach (var item in instance.{{PropertyName}})
            {
                var validationResult = {{PropertyFieldNamePrefix}}Validator.Validate(item);

                if (!validationResult.IsValid)
                    failures.AddRange(validationResult.Errors);
            }

            {{/Collections}}

            if (failures.Any())
            {
                foreach (var failure in failures)
                {
                    result.Errors.Add(failure);
                }

                return false;
            }

            return true;
        }
    }
    {{/Validator}}
    {{/ShouldRenderValidator}}
    // -----------------------------------------------------------------

    {{/ResourceClass}}
    {{/ResourceClasses}}
}
{{/ResourceContexts}}
