{{#IsRequiredWithNonDefault}}
        [RequiredWithNonDefault{{#ValidationReferenceName}}("{{ValidationReferenceName}}"){{/ValidationReferenceName}}]
{{/IsRequiredWithNonDefault}}
{{#IsString}}
    {{#MinLength}}
        [StringLength({{MaxLength}}, MinimumLength={{MinLength}}, ErrorMessage=ValidationHelpers.StringLengthWithMinimumMessageFormat), NoDangerousText{{#NoWhitespace}}, NoWhitespace{{/NoWhitespace}}]
    {{/MinLength}}
    {{^MinLength}}
        [StringLength({{MaxLength}}, ErrorMessage=ValidationHelpers.StringLengthMessageFormat), NoDangerousText{{#NoWhitespace}}, NoWhitespace{{/NoWhitespace}}]
    {{/MinLength}}
{{/IsString}}
{{#RangeAttribute}}
        {{RangeAttribute}}
{{/RangeAttribute}}