begin transaction;

/* --------------------------------- */
/*        Resource Claims            */
/* --------------------------------- */
do $$
    declare application_id int;

    declare typesResourceClaimId int;
    declare systemDescriptorsResourceClaimId int;
    declare managedDescriptorsResourceClaimId int;
    declare educationOrganizationsResourceClaimId int;
    declare peopleResourceClaimId int;
    declare relationshipBasedDataResourceClaimId int;
    declare assessmentMetadataResourceClaimId int;
    declare identityResourceClaimId int;
    declare educationStandardsResourceClaimId int;
    declare primaryRelationshipsResourceClaimId int;
    declare surveyDomainResourceClaimId int;
begin
    select ApplicationId into application_id from dbo.Applications where ApplicationName = 'Ed-Fi ODS API';

    select ResourceClaimId into typesResourceClaimId from dbo.ResourceClaims where ResourceName = 'types';
    select ResourceClaimId into systemDescriptorsResourceClaimId from dbo.ResourceClaims where ResourceName = 'systemDescriptors';
    select ResourceClaimId into managedDescriptorsResourceClaimId from dbo.ResourceClaims where ResourceName = 'managedDescriptors';
    select ResourceClaimId into educationOrganizationsResourceClaimId from dbo.ResourceClaims where ResourceName = 'educationOrganizations';
    select ResourceClaimId into peopleResourceClaimId from dbo.ResourceClaims where ResourceName = 'people';
    select ResourceClaimId into relationshipBasedDataResourceClaimId from dbo.ResourceClaims where ResourceName = 'relationshipBasedData';
    select ResourceClaimId into assessmentMetadataResourceClaimId from dbo.ResourceClaims where ResourceName = 'assessmentMetadata';
    select ResourceClaimId into identityResourceClaimId from dbo.ResourceClaims where ResourceName = 'identity';
    select ResourceClaimId into educationStandardsResourceClaimId from dbo.ResourceClaims where ResourceName = 'educationStandards';
    select ResourceClaimId into primaryRelationshipsResourceClaimId from dbo.ResourceClaims where ResourceName = 'primaryRelationships';
    select ResourceClaimId into surveyDomainResourceClaimId from dbo.ResourceClaims where ResourceName = 'surveyDomain';

{{#Aggregates}}
    IF NOT EXISTS(SELECT 1 FROM dbo.ResourceClaims WHERE ResourceName ='{{ResourceName}}') THEN
    insert into dbo.ResourceClaims (DisplayName, ResourceName, ClaimName, ParentResourceClaimId, Application_ApplicationId)
    values ('{{DisplayName}}', '{{ResourceName}}', 'http://ed-fi.org/ods/identity/claims/{{ResourceName}}', {{#HasParent}}{{ParentResourceName}}ResourceClaimId{{/HasParent}}{{^HasParent}}null{{/HasParent}}, application_id);
    END IF;

{{/Aggregates}}
end $$;

/* ------------------------------------------------- */
/*     ClaimSetResourceClaimActions    */
/* ------------------------------------------------ */
do $$
    declare claim_set_id int;
begin

    /* SIS Vendors Claims */

    select ClaimSetId into claim_set_id from dbo.ClaimSets where ClaimSetName = 'SIS Vendor';

    WITH SisVendorClaims AS (
        select ac.ActionId, claim_set_id as ClaimSetId, ResourceClaimId, cast(null as int) as ValidationRuleSetNameOverride
        from dbo.ResourceClaims
        inner join lateral
           (select ActionId
            from dbo.Actions
            where ActionName IN ('Read')) as ac on true
        where ResourceName IN ('types', 'systemDescriptors', 'educationOrganizations')
        union
        select ac.ActionId, claim_set_id as ClaimSetId, ResourceClaimId, cast(null as int) as ValidationRuleSetNameOverride
        from dbo.ResourceClaims
        inner join lateral
            (select ActionId
            from dbo.Actions
            where ActionName IN ('Read','Update','Delete')) as ac on true
        where ResourceName IN ('people'
            , 'relationshipBasedData'
            , 'assessmentMetadata'
            , 'managedDescriptors'
            , 'primaryRelationships'
            , 'educationStandards'
            , 'educationContent')
        union
        select ac.ActionId, claim_set_id as ClaimSetId, ResourceClaimId, cast(null as int) as ValidationRuleSetNameOverride
        from dbo.ResourceClaims
        inner join lateral
            (select ActionId
            from dbo.Actions
            where ActionName IN ('Create')) as ac on true
        where ResourceName IN ('people'
        , 'relationshipBasedData'
        , 'assessmentMetadata'
        , 'managedDescriptors'
        , 'primaryRelationships'
        , 'educationStandards'
        , 'educationContent')
    )
    insert into dbo.ClaimSetResourceClaimActions
        (ActionId
        ,ClaimSetId
        ,ResourceClaimId
        ,ValidationRuleSetNameOverride)
    select ActionId, ClaimSetId, ResourceClaimId, ValidationRuleSetNameOverride
    from SisVendorClaims claims
    where not exists (select 1 from dbo.ClaimSetResourceClaimActions where actionId = claims.actionId AND ClaimSetId = claims.ClaimSetId
        and ResourceClaimId = claims.ResourceClaimId);

    /* EdFi Sandbox Claims */

    select ClaimSetId INTO claim_set_id from dbo.ClaimSets where ClaimSetName = 'Ed-Fi Sandbox';

    WITH EdFiSandboxClaims AS (
        select ac.ActionId, claim_set_id as ClaimSetId, ResourceClaimId, cast(null as int) as ValidationRuleSetNameOverride
        from dbo.ResourceClaims
        inner join lateral
            (select ActionId
            from dbo.Actions
            where ActionName IN ('Read')) as ac on true
        where ResourceName IN ('types', 'identity')
        union
        select ac.ActionId, claim_set_id as ClaimSetId, ResourceClaimId, cast(null as int) as ValidationRuleSetNameOverride
        from dbo.ResourceClaims
        inner join lateral
            (select ActionId
            from dbo.Actions
            where ActionName IN ('Create', 'Update')) as ac on true
        where ResourceName IN ('identity')
        union
        select ac.ActionId, claim_set_id as ClaimSetId, ResourceClaimId, cast(null as int) as ValidationRuleSetNameOverride
        from dbo.ResourceClaims
        inner join lateral
            (select ActionId
            from dbo.Actions
            where ActionName IN ('Read','Update','Delete')) as ac on true
        where ResourceName IN ('systemDescriptors', 'educationOrganizations', 'people', 'relationshipBasedData',
            'assessmentMetadata', 'managedDescriptors', 'primaryRelationships', 'educationStandards',
            'educationContent', 'surveyDomain')
         union
        select ac.ActionId, claim_set_id as ClaimSetId, ResourceClaimId, cast(null as int) as ValidationRuleSetNameOverride
        from dbo.ResourceClaims
        inner join lateral
            (select ActionId
            from dbo.Actions
            where ActionName IN ('Create')) as ac on true
        where ResourceName IN ('systemDescriptors','educationOrganizations','people', 'relationshipBasedData',
        'assessmentMetadata', 'managedDescriptors',  'primaryRelationships', 'educationStandards',
        'educationContent', 'surveyDomain')
    )
    insert into dbo.ClaimSetResourceClaimActions
        (ActionId
        ,ClaimSetId
        ,ResourceClaimId
        ,ValidationRuleSetNameOverride)
    select ActionId, ClaimSetId, ResourceClaimId, ValidationRuleSetNameOverride
    from EdFiSandboxClaims claims
    where not exists (select 1 from dbo.ClaimSetResourceClaimActions where actionId = claims.actionId AND ClaimSetId = claims.ClaimSetId
        and ResourceClaimId = claims.ResourceClaimId);

    /* EdFi Sandbox Claims with Overrides */

    WITH EdFiSandboxClaimsWithOverrides AS (
        select ac.ActionId, claim_set_id as ClaimSetId, ResourceClaimId, cast (null as int) as ValidationRuleSetNameOverride
        from dbo.ResourceClaims
        inner join lateral
            (select ActionId
            from dbo.Actions
            where ActionName IN ('Create','Read','Update','Delete')) as ac on true
        where ResourceName IN ('communityProviderLicense')
    )
    insert into dbo.ClaimSetResourceClaimActions
        (ActionId
        ,ClaimSetId
        ,ResourceClaimId
        ,ValidationRuleSetNameOverride)
    select ActionId, ClaimSetId, ResourceClaimId, ValidationRuleSetNameOverride
    from EdFiSandboxClaimsWithOverrides claims
    where not exists (select 1 from dbo.ClaimSetResourceClaimActions where actionId = claims.actionId AND ClaimSetId = claims.ClaimSetId
        and ResourceClaimId = claims.ResourceClaimId);

    /* Roster Vendor Claims */

    select ClaimSetId into claim_set_id from dbo.ClaimSets where ClaimSetName = 'Roster Vendor';

    WITH RosterVendorClaims AS (
        select ac.ActionId, claim_set_id as ClaimSetId, ResourceClaimId, cast(null as int) as ValidationRuleSetNameOverride
        from dbo.ResourceClaims
        inner join lateral
            (select ActionId
            from dbo.Actions
            where ActionName IN ('Read')) as ac on true
        where ResourceName IN ('educationOrganizations', 'section', 'student', 'staff', 'courseOffering',
            'session', 'classPeriod', 'location', 'course', 'staffSectionAssociation',
            'staffEducationOrganizationAssignmentAssociation', 'studentSectionAssociation', 'studentSchoolAssociation')
    )
    insert into dbo.ClaimSetResourceClaimActions
        (ActionId
        ,ClaimSetId
        ,ResourceClaimId
        ,ValidationRuleSetNameOverride)
    select ActionId, ClaimSetId, ResourceClaimId, ValidationRuleSetNameOverride
    from RosterVendorClaims claims
    where not exists (select 1 from dbo.ClaimSetResourceClaimActions where actionId = claims.actionId AND ClaimSetId = claims.ClaimSetId
        and ResourceClaimId = claims.ResourceClaimId);

    /* Assessment Vendor Claims */

    select ClaimSetId into claim_set_id from dbo.ClaimSets where ClaimSetName = 'Assessment Vendor';

    WITH AssessmentVendorClaims AS (
        select ac.ActionId, claim_set_id as ClaimSetId, ResourceClaimId, cast(null as int) as ValidationRuleSetNameOverride
        from dbo.ResourceClaims
        inner join lateral
            (select ActionId
            from dbo.Actions
            where ActionName IN ('Create','Read','Update','Delete')) as ac on true
        where ResourceName IN ('assessmentMetadata')
        union
        select ac.ActionId, claim_set_id as ClaimSetId, ResourceClaimId, cast(null as int) as ValidationRuleSetNameOverride
        from dbo.ResourceClaims
        inner join lateral
            (select ActionId
            from dbo.Actions
            where ActionName IN ('Read')) as ac on true
        where ResourceName IN ('learningObjective', 'learningStandard', 'student')
    )
    insert into dbo.ClaimSetResourceClaimActions
        (ActionId
        ,ClaimSetId
        ,ResourceClaimId
        ,ValidationRuleSetNameOverride)
    select ActionId, ClaimSetId, ResourceClaimId, ValidationRuleSetNameOverride
    from AssessmentVendorClaims claims
    where not exists (select 1 from dbo.ClaimSetResourceClaimActions where actionId = claims.actionId AND ClaimSetId = claims.ClaimSetId
        and ResourceClaimId = claims.ResourceClaimId);

    /* Assessment Read Resource Claims */

    select ClaimSetId into claim_set_id from dbo.ClaimSets where ClaimSetName = 'Assessment Read';

    WITH AssessmentReadResourceClaims AS (
        select ac.ActionId, claim_set_id as ClaimSetId, ResourceClaimId, cast(null as int) as ValidationRuleSetNameOverride
        from dbo.ResourceClaims
        inner join lateral
            (select ActionId
            from dbo.Actions
            where ActionName IN ('Read')) as ac on true
        where ResourceName IN ('assessmentMetadata', 'learningObjective', 'learningStandard', 'student')
    )
    insert into dbo.ClaimSetResourceClaimActions
        (ActionId
        ,ClaimSetId
        ,ResourceClaimId
        ,ValidationRuleSetNameOverride)
    select ActionId, ClaimSetId, ResourceClaimId, ValidationRuleSetNameOverride
    from AssessmentReadResourceClaims claims
    where not exists (select 1 from dbo.ClaimSetResourceClaimActions where actionId = claims.actionId AND ClaimSetId = claims.ClaimSetId
        and ResourceClaimId = claims.ResourceClaimId);

    /* Bootstrap Descriptors and EdOrgs Claims */

    select ClaimSetId INTO claim_set_id from dbo.ClaimSets where ClaimSetName = 'Bootstrap Descriptors and EdOrgs';

    WITH BootstrapDescriptorsAndEdOrgsClaims AS (
        select ac.ActionId, claim_set_id as ClaimSetId, ResourceClaimId, cast (null as int) as ValidationRuleSetNameOverride
        from dbo.ResourceClaims
        inner join lateral
            (select ActionId
            from dbo.Actions
            where ActionName IN ('Create')) as ac on true
        where ResourceName IN (
            'systemDescriptors',
            'managedDescriptors',
            'educationOrganizations',
            -- from Interchange-Standards.xml
            'learningObjective',
            'learningStandard',
            'learningStandardEquivalenceAssociation',
            -- from Interchange-EducationOrganization.xml
            'accountabilityRating',
            'classPeriod',
            'communityOrganization',
            'communityProvider',
            'communityProviderLicense',
            'course',
            'educationOrganizationNetwork',
            'educationOrganizationNetworkAssociation',
            'educationOrganizationPeerAssociation',
            'educationServiceCenter',
            'feederSchoolAssociation',
            'localEducationAgency',
            'location',
            'postSecondaryInstitution',
            'program',
            'school',
            'stateEducationAgency')
    )
    insert into dbo.ClaimSetResourceClaimActions
        (ActionId
        ,ClaimSetId
        ,ResourceClaimId
        ,ValidationRuleSetNameOverride)
    select ActionId, ClaimSetId, ResourceClaimId, ValidationRuleSetNameOverride
    from BootstrapDescriptorsAndEdOrgsClaims claims
    where not exists (select 1 from dbo.ClaimSetResourceClaimActions where actionId = claims.actionId AND ClaimSetId = claims.ClaimSetId
        and ResourceClaimId = claims.ResourceClaimId);

end $$;

/* --------------------------------- */
/* ResourceClaimActions */
/* --------------------------------- */
do $$
    declare authorization_strategy_id int;
begin

    /* NoFurtherAuthorizationRequired */

    WITH NoFurtherAuthorizationRequiredResourceClaims AS (
        select ac.ActionId, ResourceClaimId, cast(null as int) as ValidationRuleSetName
        from dbo.ResourceClaims
        inner join lateral
            (select ActionId
            from dbo.Actions
            where ActionName IN ('Read')) as ac on true
        where ResourceName IN ('types', 'systemDescriptors', 'educationOrganizations', 'course', 'managedDescriptors', 'identity', 'credential', 'person' )
        union
        select ac.ActionId, ResourceClaimId, cast(null as int) as ValidationRuleSetName
        from dbo.ResourceClaims
        inner join lateral
            (select ActionId
            from dbo.Actions
            where ActionName IN ('Create')) as ac on true
        where ResourceName IN ('educationOrganizations', 'credential', 'people', 'identity', 'person')
        union
        select ac.ActionId, ResourceClaimId, cast(null as int) as ValidationRuleSetName
        from dbo.ResourceClaims
        inner join lateral
            (select ActionId
            from dbo.Actions
            where ActionName IN ('Update')) as ac on true
        where ResourceName IN ('educationOrganizations', 'identity', 'credential', 'person' )
        union
        select ac.ActionId, ResourceClaimId, cast(null as int) as ValidationRuleSetName
        from dbo.ResourceClaims
        inner join lateral
            (select ActionId
            from dbo.Actions
            where ActionName IN ('Delete')) as ac on true
        where ResourceName IN ('educationOrganizations', 'people', 'credential', 'person')
    )
    insert into dbo.ResourceClaimActions
        (ActionId
        ,ResourceClaimId
        ,ValidationRuleSetName)
    select ActionId, ResourceClaimId, ValidationRuleSetName
    from NoFurtherAuthorizationRequiredResourceClaims claims
    where not exists (select 1 from dbo.ResourceClaimActions where actionId = claims.actionId AND ResourceClaimId = claims.ResourceClaimId);

    /* NamespaceBased */

    WITH NamespaceBasedResourceClaims AS (
        select ac.ActionId, ResourceClaimId, cast(null as int) as ValidationRuleSetName
        from dbo.ResourceClaims
        inner join lateral
            (select ActionId
            from dbo.Actions
            where ActionName IN ('Read')) as ac on true
        where ResourceName IN ('assessmentMetadata', 'educationStandards', 'educationContent', 'surveyDomain' )
        union
        select ac.ActionId, ResourceClaimId, cast(null as int) as ValidationRuleSetName
        from dbo.ResourceClaims
        inner join lateral
            (select ActionId
            from dbo.Actions
            where ActionName IN ('Create', 'Update', 'Delete')) as ac on true
        where ResourceName IN ('systemDescriptors', 'managedDescriptors', 'assessmentMetadata', 'educationStandards', 'educationContent', 'surveyDomain')
    )
    insert into dbo.ResourceClaimActions
        (ActionId
        ,ResourceClaimId
        ,ValidationRuleSetName)
    select ActionId, ResourceClaimId, ValidationRuleSetName
    from NamespaceBasedResourceClaims claims
    where not exists (select 1 from dbo.ResourceClaimActions where actionId = claims.actionId AND ResourceClaimId = claims.ResourceClaimId);

    /* RelationshipsWithEdOrgsAndPeople */

    WITH RelationshipsWithEdOrgsAndPeopleResourceClaims AS (
        select ac.ActionId, ResourceClaimId, cast(null as int) as ValidationRuleSetName
        from dbo.ResourceClaims
        inner join lateral
            (select ActionId
            from dbo.Actions
            where ActionName IN ('Read', 'Update')) as ac on true
        where ResourceName IN ('primaryRelationships', 'studentParentAssociation', 'people', 'relationshipBasedData')
        union
        select ac.ActionId, ResourceClaimId, cast(null as int) as ValidationRuleSetName
        from dbo.ResourceClaims
        inner join lateral
            (select ActionId
            from dbo.Actions
            where ActionName IN ('Create')) as ac on true
        where ResourceName IN ('relationshipBasedData')
        union
        select ac.ActionId, ResourceClaimId, cast(null as int) as ValidationRuleSetName
        from dbo.ResourceClaims
        inner join lateral
            (select ActionId
            from dbo.Actions
            where ActionName IN ('Delete')) as ac on true
        where ResourceName IN ('relationshipBasedData', 'studentParentAssociation', 'primaryRelationships')
    )
    insert into dbo.ResourceClaimActions
        (ActionId
        ,ResourceClaimId
        ,ValidationRuleSetName)
    select ActionId, ResourceClaimId, ValidationRuleSetName
    from RelationshipsWithEdOrgsAndPeopleResourceClaims claims
    where not exists (select 1 from dbo.ResourceClaimActions where actionId = claims.actionId AND ResourceClaimId = claims.ResourceClaimId);

    /* RelationshipsWithStudentsOnly */

    WITH RelationshipsWithStudentsOnlyResourceClaims AS (
        select ac.ActionId, ResourceClaimId, cast(null as int) as ValidationRuleSetName
        from dbo.ResourceClaims
        inner join lateral
            (select ActionId
            from dbo.Actions
            where ActionName IN ('Create')) as ac on true
        where ResourceName IN ('studentParentAssociation')
    )
    insert into dbo.ResourceClaimActions
        (ActionId
        ,ResourceClaimId
        ,ValidationRuleSetName)
    select ActionId, ResourceClaimId, ValidationRuleSetName
    from RelationshipsWithStudentsOnlyResourceClaims claims
    where not exists (select 1 from dbo.ResourceClaimActions where actionId = claims.actionId AND ResourceClaimId = claims.ResourceClaimId);

    /* RelationshipsWithEdOrgsOnly */

    WITH RelationshipsWithEdOrgsOnlyResourceClaims AS (
        select ac.ActionId, ResourceClaimId, cast(null as int) as ValidationRuleSetName
        from dbo.ResourceClaims
        inner join lateral
            (select ActionId
            from dbo.Actions
            where ActionName IN ('Create')) as ac on true
        where ResourceName IN ('primaryRelationships')
    )
    insert into dbo.ResourceClaimActions
        (ActionId
        ,ResourceClaimId
        ,ValidationRuleSetName)
    select ActionId, ResourceClaimId, ValidationRuleSetName
    from RelationshipsWithEdOrgsOnlyResourceClaims claims
    where not exists (select 1 from dbo.ResourceClaimActions where actionId = claims.actionId AND ResourceClaimId = claims.ResourceClaimId);

end $$;

/* ------------------------------------------ */
/* ResourceClaimActionAuthorizationStrategies */
/* ------------------------------------------ */

do $$
    declare authorization_strategy_id int;
begin

    /* NoFurtherAuthorizationRequired */

    select AuthorizationStrategyId into authorization_strategy_id
    from dbo.AuthorizationStrategies
    where AuthorizationStrategyName = 'NoFurtherAuthorizationRequired';

    WITH NoFurtherAuthorizationRequiredAuthorizationStrategies AS (
        select RCAA.ResourceClaimActionId,authorization_strategy_id as AuthorizationStrategyId FROM  dbo.ResourceClaimActions RCAA
            inner join dbo.ResourceClaims RC ON  RC.ResourceClaimId =RCAA.ResourceClaimId
            inner join dbo.Actions A on A.ActionId = RCAA.ActionId
            where A.ActionName IN ('Read')
            and RC.ResourceName IN ('types', 'systemDescriptors', 'educationOrganizations', 'course', 'managedDescriptors', 'identity', 'credential', 'person')
        union
        select RCAA.ResourceClaimActionId,authorization_strategy_id as AuthorizationStrategyId FROM  dbo.ResourceClaimActions RCAA
            inner join dbo.ResourceClaims RC ON  RC.ResourceClaimId =RCAA.ResourceClaimId
            inner join dbo.Actions A on A.ActionId = RCAA.ActionId
            where A.ActionName IN ('Create')
            and RC.ResourceName IN ('educationOrganizations', 'credential', 'people', 'identity', 'person')
        union
        select RCAA.ResourceClaimActionId,authorization_strategy_id as AuthorizationStrategyId FROM  dbo.ResourceClaimActions RCAA
            inner join dbo.ResourceClaims RC ON  RC.ResourceClaimId =RCAA.ResourceClaimId
            inner join dbo.Actions A on A.ActionId = RCAA.ActionId
            where A.ActionName IN ('Update')
            and RC.ResourceName IN ('educationOrganizations', 'identity', 'credential', 'person' )
        union
        select RCAA.ResourceClaimActionId,authorization_strategy_id as AuthorizationStrategyId FROM  dbo.ResourceClaimActions RCAA
            inner join dbo.ResourceClaims RC ON  RC.ResourceClaimId =RCAA.ResourceClaimId
            inner join dbo.Actions A on A.ActionId = RCAA.ActionId
            where A.ActionName IN ('Delete')
            and RC.ResourceName IN ('educationOrganizations', 'people', 'credential', 'person')
    )
    insert into dbo.ResourceClaimActionAuthorizationStrategies
        (ResourceClaimActionId
        ,AuthorizationStrategyId)
    select ResourceClaimActionId,AuthorizationStrategyId
    from NoFurtherAuthorizationRequiredAuthorizationStrategies claims
    where not exists (select 1 from dbo.ResourceClaimActionAuthorizationStrategies where ResourceClaimActionId = claims.ResourceClaimActionId
        and AuthorizationStrategyId = claims.AuthorizationStrategyId);

/* NamespaceBased */

    select AuthorizationStrategyId into authorization_strategy_id
    from dbo.AuthorizationStrategies
    where AuthorizationStrategyName = 'NamespaceBased';

    WITH NamespaceBasedAuthorizationStrategies AS (
        select RCAA.ResourceClaimActionId,authorization_strategy_id as AuthorizationStrategyId FROM  dbo.ResourceClaimActions RCAA
            inner join dbo.ResourceClaims RC on  RC.ResourceClaimId =RCAA.ResourceClaimId
            inner join dbo.Actions A on A.ActionId = RCAA.ActionId
            where A.ActionName in ('Read')
            and RC.ResourceName in ('assessmentMetadata', 'educationStandards', 'educationContent', 'surveyDomain' )
        union
        select RCAA.ResourceClaimActionId,authorization_strategy_id as AuthorizationStrategyId FROM  dbo.ResourceClaimActions RCAA
            inner join dbo.ResourceClaims RC on  RC.ResourceClaimId =RCAA.ResourceClaimId
            inner join dbo.Actions A on A.ActionId = RCAA.ActionId
            where A.ActionName in ('Create', 'Update', 'Delete')
            and RC.ResourceName in ('systemDescriptors', 'managedDescriptors', 'assessmentMetadata', 'educationStandards', 'educationContent', 'surveyDomain')
    )
    insert into dbo.ResourceClaimActionAuthorizationStrategies
        (ResourceClaimActionId
        ,AuthorizationStrategyId)
    select ResourceClaimActionId,AuthorizationStrategyId
    from NamespaceBasedAuthorizationStrategies claims
    where not exists (select 1 from dbo.ResourceClaimActionAuthorizationStrategies where ResourceClaimActionId = claims.ResourceClaimActionId
        and AuthorizationStrategyId = claims.AuthorizationStrategyId);

/* RelationshipsWithEdOrgsAndPeople */

    select AuthorizationStrategyId into authorization_strategy_id
    from dbo.AuthorizationStrategies
    where AuthorizationStrategyName = 'RelationshipsWithEdOrgsAndPeople';

    WITH RelationshipsWithEdOrgsAndPeopleAuthorizationStrategies AS (
        select RCAA.ResourceClaimActionId,authorization_strategy_id as AuthorizationStrategyId FROM  dbo.ResourceClaimActions RCAA
            inner join dbo.ResourceClaims RC on  RC.ResourceClaimId =RCAA.ResourceClaimId
            inner join dbo.Actions A on A.ActionId = RCAA.ActionId
            where A.ActionName in ('Read', 'Update')
            and RC.ResourceName in ('primaryRelationships', 'studentParentAssociation', 'people', 'relationshipBasedData')
	    union
	    select RCAA.ResourceClaimActionId,authorization_strategy_id as AuthorizationStrategyId FROM  dbo.ResourceClaimActions RCAA
            inner join dbo.ResourceClaims RC on  RC.ResourceClaimId =RCAA.ResourceClaimId
            inner join dbo.Actions A on A.ActionId = RCAA.ActionId
            where A.ActionName in ('Create')
            and RC.ResourceName in ('relationshipBasedData')
	    union
        select RCAA.ResourceClaimActionId,authorization_strategy_id as AuthorizationStrategyId FROM  dbo.ResourceClaimActions RCAA
            inner join dbo.ResourceClaims RC on  RC.ResourceClaimId =RCAA.ResourceClaimId
            inner join dbo.Actions A on A.ActionId = RCAA.ActionId
            where A.ActionName in ('Delete')
            and RC.ResourceName in ('relationshipBasedData', 'studentParentAssociation', 'primaryRelationships')
    )
    insert into dbo.ResourceClaimActionAuthorizationStrategies
        (ResourceClaimActionId
        ,AuthorizationStrategyId)
    select ResourceClaimActionId,AuthorizationStrategyId
    from RelationshipsWithEdOrgsAndPeopleAuthorizationStrategies claims
    where not exists (select 1 from dbo.ResourceClaimActionAuthorizationStrategies where ResourceClaimActionId = claims.ResourceClaimActionId
        and AuthorizationStrategyId = claims.AuthorizationStrategyId);

/* RelationshipsWithStudentsOnly */

    select AuthorizationStrategyId into authorization_strategy_id
    from dbo.AuthorizationStrategies
    where AuthorizationStrategyName = 'RelationshipsWithStudentsOnly';

    WITH RelationshipsWithStudentsOnlyAuthorizationStrategies AS (
        select RCAA.ResourceClaimActionId,authorization_strategy_id as AuthorizationStrategyId FROM  dbo.ResourceClaimActions RCAA
            inner join dbo.ResourceClaims RC on  RC.ResourceClaimId =RCAA.ResourceClaimId
            inner join dbo.Actions A on A.ActionId = RCAA.ActionId
            where A.ActionName in ('Create')
            and RC.ResourceName in ('studentParentAssociation')
    )
    insert into dbo.ResourceClaimActionAuthorizationStrategies
        (ResourceClaimActionId
        ,AuthorizationStrategyId)
    select ResourceClaimActionId,AuthorizationStrategyId
    from RelationshipsWithStudentsOnlyAuthorizationStrategies claims
    where not exists (select 1 from dbo.ResourceClaimActionAuthorizationStrategies where ResourceClaimActionId = claims.ResourceClaimActionId
        and AuthorizationStrategyId = claims.AuthorizationStrategyId);

/* RelationshipsWithEdOrgsOnly */

    select AuthorizationStrategyId into authorization_strategy_id
    from dbo.AuthorizationStrategies
    where AuthorizationStrategyName = 'RelationshipsWithEdOrgsOnly';

    WITH RelationshipsWithEdOrgsOnlyAuthorizationStrategies AS (
        select RCAA.ResourceClaimActionId,authorization_strategy_id as AuthorizationStrategyId FROM  dbo.ResourceClaimActions RCAA
            inner join dbo.ResourceClaims RC on  RC.ResourceClaimId =RCAA.ResourceClaimId
            inner join dbo.Actions A on A.ActionId = RCAA.ActionId
            where A.ActionName in ('Create')
            and RC.ResourceName in ('primaryRelationships')
    )
    insert into dbo.ResourceClaimActionAuthorizationStrategies
        (ResourceClaimActionId
        ,AuthorizationStrategyId)
    select ResourceClaimActionId,AuthorizationStrategyId
    from RelationshipsWithEdOrgsOnlyAuthorizationStrategies claims
    where not exists (select 1 from dbo.ResourceClaimActionAuthorizationStrategies where ResourceClaimActionId = claims.ResourceClaimActionId
        and AuthorizationStrategyId = claims.AuthorizationStrategyId);

end $$;

/* --------------------------------------------------------------- */
/*     ClaimSetResourceClaimActionAuthorizationStrategyOverrides   */
/* --------------------------------------------------------------- */

/* Bootstrap Descriptors and EdOrgs Claims */

do $$
    declare claim_set_id int;
    declare authorization_strategy_id int;
begin

    select AuthorizationStrategyId into authorization_strategy_id
    from dbo.AuthorizationStrategies
    where AuthorizationStrategyName = 'NoFurtherAuthorizationRequired';

    select ClaimSetId INTO claim_set_id from dbo.ClaimSets where ClaimSetName = 'Bootstrap Descriptors and EdOrgs';

    WITH ActionAuthorizationStrategyOverrides AS (
        select CSRCAA.ClaimSetResourceClaimActionId,authorization_strategy_id as AuthorizationStrategyId FROM  dbo.ClaimSetResourceClaimActions CSRCAA
            inner join dbo.ResourceClaims RC on  RC.ResourceClaimId =CSRCAA.ResourceClaimId
            inner join dbo.Actions A on A.ActionId = CSRCAA.ActionId
            inner join dbo.ClaimSets CS on CS.ClaimSetId = CSRCAA.ClaimSetId
            where CS.ClaimSetId = claim_set_id
            and A.ActionName in ('Create')
            and RC.ResourceName in (
	            'systemDescriptors',
                'managedDescriptors',
                'educationOrganizations',
                -- from Interchange-Standards.xml
                'learningObjective',
                'learningStandard',
                'learningStandardEquivalenceAssociation',
                -- from Interchange-EducationOrganization.xml
                'accountabilityRating',
                'classPeriod',
                'communityOrganization',
                'communityProvider',
                'communityProviderLicense',
                'course',
                'educationOrganizationNetwork',
                'educationOrganizationNetworkAssociation',
                'educationOrganizationPeerAssociation',
                'educationServiceCenter',
                'feederSchoolAssociation',
                'localEducationAgency',
                'location',
                'postSecondaryInstitution',
                'program',
                'school',
                'stateEducationAgency')
    )
    insert into dbo.ClaimSetResourceClaimActionAuthorizationStrategyOverrides
        (ClaimSetResourceClaimActionId
        ,AuthorizationStrategyId)
    select ClaimSetResourceClaimActionId,AuthorizationStrategyId
    from ActionAuthorizationStrategyOverrides claims
    where not exists (select 1 from dbo.ClaimSetResourceClaimActionAuthorizationStrategyOverrides where ClaimSetResourceClaimActionId = claims.ClaimSetResourceClaimActionId
        and AuthorizationStrategyId = claims.AuthorizationStrategyId);

end $$;

commit;
