-- SPDX-License-Identifier: Apache-2.0
-- Licensed to the Ed-Fi Alliance under one or more agreements.
-- The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
-- See the LICENSE and NOTICES files in the project root for more information.

{{#Tables}}
    {{#IsAggregateRoot}}
        {{#IsDerived}}
DROP TRIGGER IF EXISTS [{{Schema}}].[{{Schema}}_{{TableName}}_TR_DeleteTracking]
GO

CREATE TRIGGER [{{Schema}}].[{{Schema}}_{{TableName}}_TR_DeleteTracking] ON [{{Schema}}].[{{TableName}}] AFTER DELETE AS
BEGIN
    IF @@rowcount = 0 
        RETURN

    SET NOCOUNT ON

    INSERT INTO [tracked_changes_{{Schema}}].[{{TableName}}]({{#PrimaryKeyColumns}}Old{{ColumnName}}, {{/PrimaryKeyColumns}}{{#BaseAlternateKeyColumns}}Old{{ColumnName}}, {{/BaseAlternateKeyColumns}}Id, ChangeVersion)
    SELECT  {{#PrimaryKeyColumns}}d.{{ColumnName}}, {{/PrimaryKeyColumns}}{{#BaseAlternateKeyColumns}}b.{{ColumnName}}, {{/BaseAlternateKeyColumns}}b.Id, (NEXT VALUE FOR [changes].[ChangeVersionSequence])
    FROM    deleted d
            INNER JOIN {{BaseTableSchema}}.{{BaseTableName}} b ON {{#PrimaryKeyColumns}}{{^IsFirst}} AND {{/IsFirst}}d.{{ColumnName}} = b.{{BaseColumnName}}{{/PrimaryKeyColumns}}
END
GO

ALTER TABLE [{{Schema}}].[{{TableName}}] ENABLE TRIGGER [{{Schema}}_{{TableName}}_TR_DeleteTracking]
GO

        {{/IsDerived}}
        {{^IsDerived}}
DROP TRIGGER IF EXISTS [{{Schema}}].[{{Schema}}_{{TableName}}_TR_DeleteTracking]
GO

CREATE TRIGGER [{{Schema}}].[{{Schema}}_{{TableName}}_TR_DeleteTracking] ON [{{Schema}}].[{{TableName}}] AFTER DELETE AS
BEGIN
    IF @@rowcount = 0 
        RETURN

    SET NOCOUNT ON

    INSERT INTO [tracked_changes_{{Schema}}].[{{TableName}}]({{#ChangeDataColumns}}Old{{ColumnName}}, {{/ChangeDataColumns}}Id, {{#HasDiscriminator}}Discriminator, {{/HasDiscriminator}}ChangeVersion)
    SELECT  {{#ChangeDataColumns}}{{#SelectExpression}}{{SelectExpression}}{{/SelectExpression}}{{^SelectExpression}}d.{{ColumnName}}{{/SelectExpression}}, {{/ChangeDataColumns}}d.Id, {{#HasDiscriminator}}d.Discriminator, {{/HasDiscriminator}}(NEXT VALUE FOR [changes].[ChangeVersionSequence])
    FROM    deleted d
    {{#Joins}}
        {{#IsLeftJoin}}LEFT {{/IsLeftJoin}}{{^IsLeftJoin}}INNER {{/IsLeftJoin}}JOIN {{Schema}}.{{TableName}} {{JoinAlias}}
            ON d.{{ThisJoinColumnName}} = {{JoinAlias}}.{{OtherJoinColumnName}} 
    {{/Joins}}
END
GO

ALTER TABLE [{{Schema}}].[{{TableName}}] ENABLE TRIGGER [{{Schema}}_{{TableName}}_TR_DeleteTracking]
GO

        {{/IsDerived}}
    {{/IsAggregateRoot}}
{{/Tables}}