-- SPDX-License-Identifier: Apache-2.0
-- Licensed to the Ed-Fi Alliance under one or more agreements.
-- The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
-- See the LICENSE and NOTICES files in the project root for more information.

{{#Tables}}
    {{#IsAggregateRoot}}
        {{^IsDerived}}
DROP TRIGGER IF EXISTS [{{Schema}}].[{{Schema}}_{{TableName}}_TR_UpdateChangeVersion]
GO
CREATE TRIGGER [{{Schema}}].[{{Schema}}_{{TableName}}_TR_UpdateChangeVersion] ON [{{Schema}}].[{{TableName}}] AFTER UPDATE AS
BEGIN
    SET NOCOUNT ON;
    UPDATE [{{Schema}}].[{{TableName}}]
    SET ChangeVersion = (NEXT VALUE FOR [changes].[ChangeVersionSequence])
    FROM [{{Schema}}].[{{TableName}}] u
    WHERE EXISTS (SELECT 1 FROM inserted i WHERE i.id = u.id);
{{#KeyValuesCanChange}}

    -- Handle key changes
    INSERT INTO tracked_changes_{{Schema}}.{{TableName}}_TrackedChange(
        {{#ChangeDataColumns}}Old{{ColumnName}}, {{/ChangeDataColumns}}
        {{#ChangeDataColumns}}New{{ColumnName}}, {{/ChangeDataColumns}}
        Id, {{#HasDiscriminator}}Discriminator, {{/HasDiscriminator}}ChangeVersion)
    SELECT 
        {{#ChangeDataColumns}}{{#SourceSelectExpression}}d{{SourceSelectExpression}}{{/SourceSelectExpression}}{{^SourceSelectExpression}}d.{{ColumnName}}{{/SourceSelectExpression}}, {{/ChangeDataColumns}}
        {{#ChangeDataColumns}}{{#SourceSelectExpression}}i{{SourceSelectExpression}}{{/SourceSelectExpression}}{{^SourceSelectExpression}}i.{{ColumnName}}{{/SourceSelectExpression}}, {{/ChangeDataColumns}}
        d.Id, {{#HasDiscriminator}}d.Discriminator, {{/HasDiscriminator}}(NEXT VALUE FOR [changes].[ChangeVersionSequence])
    FROM deleted d INNER JOIN inserted i ON d.Id = i.Id
        {{#Joins}}
        {{#IsLeftJoin}}LEFT {{/IsLeftJoin}}{{^IsLeftJoin}}INNER {{/IsLeftJoin}}JOIN {{Schema}}.{{TableName}} d{{JoinAlias}}
            ON d.{{ThisJoinColumnName}} = d{{JoinAlias}}.{{OtherJoinColumnName}}
        {{/Joins}}
        {{#Joins}}
        {{#IsLeftJoin}}LEFT {{/IsLeftJoin}}{{^IsLeftJoin}}INNER {{/IsLeftJoin}}JOIN {{Schema}}.{{TableName}} i{{JoinAlias}}
            ON d.{{ThisJoinColumnName}} = i{{JoinAlias}}.{{OtherJoinColumnName}}
        {{/Joins}}
    WHERE 
        {{#PrimaryKeyColumns}}{{^IsFirst}} OR {{/IsFirst}}d.{{ColumnName}} <> i.{{ColumnName}}{{/PrimaryKeyColumns}};
{{/KeyValuesCanChange}}
END	
GO

        {{/IsDerived}}
    {{/IsAggregateRoot}}
{{/Tables}}