-- SPDX-License-Identifier: Apache-2.0
-- Licensed to the Ed-Fi Alliance under one or more agreements.
-- The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
-- See the LICENSE and NOTICES files in the project root for more information.

{{#Schemas}}
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'tracked_changes_{{Schema}}')
EXEC sys.sp_executesql N'CREATE SCHEMA [tracked_changes_{{Schema}}]'
GO

{{/Schemas}}
{{#Tables}}
    {{#IsAggregateRoot}}
        {{^IsDerived}}
IF NOT EXISTS (SELECT * FROM sys.tables WHERE object_id = OBJECT_ID(N'[tracked_changes_{{Schema}}].[{{TableName}}]'))
CREATE TABLE [tracked_changes_{{Schema}}].[{{TableName}}]
(
    {{#ChangeDataColumns}}
       Old{{ColumnName}} {{DataType}} NOT NULL,
    {{/ChangeDataColumns}}
    {{#ChangeDataColumns}}
       New{{ColumnName}} {{DataType}} NULL,
    {{/ChangeDataColumns}}
       Id uniqueidentifier NOT NULL,
       ChangeVersion bigint NOT NULL,
    {{#DiscriminatorColumn}}
       {{ColumnName}} {{DataType}} {{#IsNullable}}NULL{{/IsNullable}}{{^IsNullable}} NOT NULL{{/IsNullable}},
    {{/DiscriminatorColumn}}
       CreateDate DateTime2 NOT NULL DEFAULT (getutcdate()),
       CONSTRAINT {{PrimaryKeyConstraintName}} PRIMARY KEY CLUSTERED (ChangeVersion)
)

        {{/IsDerived}}
    {{/IsAggregateRoot}}
{{/Tables}}