<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EdFi.LoadTools.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="TestingWebServerAddress" value="http://localhost:23456/"/>
    <add key="BearerTokenTimeoutMinutes" value="1"/>
  </appSettings>
  <userSettings>
    <EdFi.LoadTools.Test.Properties.Settings>
      <setting name="OauthUrl" serializeAs="String">
        <value>http://localhost:54746</value>
      </setting>
      <setting name="SwaggerUrl" serializeAs="String">
        <value>http://localhost:54746/metadata</value>
      </setting>
      <setting name="WorkingFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="OauthKey" serializeAs="String">
        <value>minimalSandbox</value>
      </setting>
      <setting name="OauthSecret" serializeAs="String">
        <value>minimalSandboxSecret</value>
      </setting>
      <setting name="ApiUrl" serializeAs="String">
        <value>http://localhost:54746/data/v3/</value>
      </setting>
      <setting name="InterchangeOrderFolder" serializeAs="String">
        <value>..\..\..\..\..\Application\EdFi.Ods.Standard\Artifacts\Metadata</value>
      </setting>
      <setting name="XsdFolder" serializeAs="String">
        <value>..\..\..\..\..\..\Ed-Fi-Standard\Schemas\Bulk</value>
      </setting>
      <setting name="InterchangeFolder" serializeAs="String">
        <value>..\..\..\..\..\..\Ed-Fi-Standard\Samples\Sample XML</value>
      </setting>
    </EdFi.LoadTools.Test.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.37.0" newVersion="1.1.37.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>