-- SPDX-License-Identifier: Apache-2.0
-- Licensed to the Ed-Fi Alliance under one or more agreements.
-- The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
-- See the LICENSE and NOTICES files in the project root for more information.

DO $$
BEGIN

{{#Schemas}}
IF NOT EXISTS (SELECT 1 FROM information_schema.schemata WHERE schema_name = 'tracked_changes_{{Schema}}') THEN
CREATE SCHEMA tracked_changes_{{Schema}};
END IF;

{{/Schemas}}
{{#Tables}}
    {{#IsAggregateRoot}}
        {{^IsDerived}}
IF NOT EXISTS (SELECT 1 FROM information_schema.tables WHERE table_schema = 'tracked_changes_{{Schema}}' AND table_name = '{{TableName}}') THEN
CREATE TABLE tracked_changes_{{Schema}}.{{TableName}}
(
    {{#ChangeDataColumns}}
       old{{ColumnName}} {{DataType}} NOT NULL,
    {{/ChangeDataColumns}}
    {{#ChangeDataColumns}}
       new{{ColumnName}} {{DataType}} NULL,
    {{/ChangeDataColumns}}
       id uuid NOT NULL,
       changeversion bigint NOT NULL,
    {{#DiscriminatorColumn}}
       {{ColumnName}} {{DataType}} {{#IsNullable}}NULL{{/IsNullable}}{{^IsNullable}} NOT NULL{{/IsNullable}},
    {{/DiscriminatorColumn}}
       createdate timestamp NOT NULL DEFAULT (now()),
       CONSTRAINT {{PrimaryKeyConstraintName}} PRIMARY KEY (changeversion)
);
END IF;

        {{/IsDerived}}
    {{/IsAggregateRoot}}
{{/Tables}}
END
$$;