name: Trigger InitDev workflows in Implementation repo

on:
  pull_request:
    branches:
      - main-6x
  workflow_dispatch:

env:
  EDFI_ODS_IMP_TOKEN: ${{ secrets.REPO_DISPATCH_TOKEN }}
  REPOSITORY_OWNER: ${{ GITHUB.REPOSITORY_OWNER }}
  HEAD_REF:  ${{ GITHUB.HEAD_REF }}
  REF_NAME:  ${{ GITHUB.REF_NAME }} 

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Check for Repo Dispatch Token
      if: ${{ env.REPOSITORY_OWNER == 'Ed-Fi-Alliance-OSS' && env.EDFI_ODS_IMP_TOKEN == '' }}
      run: | 
        echo "::error::Missing GitHub Token"
        exit 1
    - name: Checkout Ed-Fi-ODS
      uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4
      with:
          repository: Ed-Fi-Alliance-OSS/Ed-Fi-ODS
          path: Ed-Fi-ODS/
    - name: Is pull request branch exists in Ed-Fi-ODS
      working-directory: ./Ed-Fi-ODS/
      shell: pwsh
      run: |
           .\build.githubactions.ps1 CheckoutBranch -RelativeRepoPath "."        
    - name: Checkout Ed-Fi-ODS-Implementation
      uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4
      with:
          repository: Ed-Fi-Alliance-OSS/Ed-Fi-ODS-Implementation
          path: Ed-Fi-ODS-Implementation/
    - name: Is pull request branch exists in Ed-Fi-ODS-Implementation
      working-directory: ./Ed-Fi-ODS/
      shell: pwsh
      run: |
            .\build.githubactions.ps1 CheckoutBranch -RelativeRepoPath "../Ed-Fi-ODS-Implementation"
    - name: Set Current Branch Environment Variable
      shell: pwsh
      run: |
        $current_branch = '${{env.REF_NAME}}'
        if ($current_branch -like "*/merge"){
          $current_branch = '${{env.HEAD_REF}}'
        }
        Write-Host "Current Branch: $current_branch"   
        echo "current_branch=$current_branch" >> $Env:GITHUB_ENV
    
    - name: Dispatch InitDev, Unit tests, Integration tests, Package
      uses: Codex-/return-dispatch@03a7fcd260cce601805567f86c892bd06d2719e1 #v1.12.0
      id: return_dispatch_initdev_unit_tests_integration_tests_package
      with:
        token: ${{ env.EDFI_ODS_IMP_TOKEN }}
        ref: ${{  env.current_branch  }}
        repo:  Ed-Fi-ODS-Implementation
        owner: ${{ github.repository_owner }}
        workflow: InitDev, Unit tests, Integration tests, Package.yml
        workflow_timeout_seconds: 4800
    - name: Dispatch InitDev Postgres, Unit tests, Integration tests
      uses: Codex-/return-dispatch@03a7fcd260cce601805567f86c892bd06d2719e1 #v1.12.0
      id: return_dispatch_initdev_postgres_unit_tests_integration_tests
      with:
        token: ${{ env.EDFI_ODS_IMP_TOKEN }}
        ref: ${{  env.current_branch  }}
        repo:  Ed-Fi-ODS-Implementation
        owner: ${{ github.repository_owner }}
        workflow: InitDev Postgres, Unit tests, Integration tests.yml
        workflow_timeout_seconds: 4800
    - name: Dispatch InitDev, Smoke Tests
      uses: Codex-/return-dispatch@03a7fcd260cce601805567f86c892bd06d2719e1 #v1.12.0
      id: return_dispatch_initdev_smoketests
      with:
        token: ${{ env.EDFI_ODS_IMP_TOKEN }}
        ref: ${{  env.current_branch  }}
        repo:  Ed-Fi-ODS-Implementation
        owner: ${{ github.repository_owner }}
        workflow: InitDev, Smoke Tests.yml
        workflow_timeout_seconds: 4800
    - name: Dispatch InitDev Postgres, Smoke Tests
      uses: Codex-/return-dispatch@03a7fcd260cce601805567f86c892bd06d2719e1 #v1.12.0
      id: return_dispatch_initdev_postgres_smoketests
      with:
        token: ${{ env.EDFI_ODS_IMP_TOKEN }}
        ref: ${{  env.current_branch  }}
        repo:  Ed-Fi-ODS-Implementation
        owner: ${{ github.repository_owner }}
        workflow: InitDev Postgres, Smoke Tests.yml
        workflow_timeout_seconds: 4800
    - name: Await to complete the execution for InitDev, Unit tests, Integration tests, Package
      uses: Codex-/await-remote-run@d04eeb1e053a19a32037eb0b8ddee6ab4f19790a #v1.7.0
      with:
        token: ${{ env.EDFI_ODS_IMP_TOKEN }}
        repo: Ed-Fi-ODS-Implementation
        owner: ${{ github.repository_owner }}
        run_id: ${{ steps.return_dispatch_initdev_unit_tests_integration_tests_package.outputs.run_id }}
        run_timeout_seconds: 4800
        poll_interval_ms: 5000
    - name: Await to complete the execution for InitDev Postgres, Unit tests, Integration tests
      uses: Codex-/await-remote-run@d04eeb1e053a19a32037eb0b8ddee6ab4f19790a #v1.7.0
      with:
        token: ${{ env.EDFI_ODS_IMP_TOKEN }}
        repo: Ed-Fi-ODS-Implementation
        owner: ${{ github.repository_owner }}
        run_id: ${{ steps.return_dispatch_initdev_postgres_unit_tests_integration_tests.outputs.run_id }}
        run_timeout_seconds: 4800
        poll_interval_ms: 5000
    - name: Await to complete the execution for InitDev, Smoke Tests 
      uses: Codex-/await-remote-run@d04eeb1e053a19a32037eb0b8ddee6ab4f19790a #v1.7.0
      with:
        token: ${{ env.EDFI_ODS_IMP_TOKEN }}
        repo: Ed-Fi-ODS-Implementation
        owner: ${{ github.repository_owner }}
        run_id: ${{ steps.return_dispatch_initdev_smoketests.outputs.run_id }}
        run_timeout_seconds: 4800
        poll_interval_ms: 5000
    - name: Await to complete the execution for InitDev Postgres, Smoke Tests
      uses: Codex-/await-remote-run@d04eeb1e053a19a32037eb0b8ddee6ab4f19790a #v1.7.0
      with:
        token: ${{ env.EDFI_ODS_IMP_TOKEN }}
        repo: Ed-Fi-ODS-Implementation
        owner: ${{ github.repository_owner }}
        run_id: ${{ steps.return_dispatch_initdev_postgres_smoketests.outputs.run_id }}
        run_timeout_seconds: 4800
        poll_interval_ms: 5000
