name: Trgr InitDev workflows in Implementation repo

on:
  pull_request:
    branches: [main, 'ODS-*']
  workflow_dispatch:

env:
  EDFI_ODS_IMP_TOKEN: ${{ secrets.REPO_DISPATCH_TOKEN }}
  REPOSITORY_OWNER: ${{ GITHUB.REPOSITORY_OWNER }}
  HEAD_REF:  ${{ GITHUB.HEAD_REF }}
  REF_NAME:  ${{ GITHUB.REF_NAME }}
  REPOSITORY_DISPATCH_BRANCH: ${{ github.event.client_payload.branch }}  

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Check for Repo Dispatch Token
      if: ${{ env.REPOSITORY_OWNER == 'Ed-Fi-Alliance-OSS' && env.EDFI_ODS_IMP_TOKEN == '' }}
      run: | 
        echo "::error::Missing GitHub Token"
        exit 1
    - name: Setup .NET
      uses: actions/setup-dotnet@c0d4ad69d8bd405d234f1c9166d383b7a4f69ed8 # 2.1.0
      with:
        dotnet-version: 6.0.x
    - name: Checkout Ed-Fi-ODS
      uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579 # v2
      with:
          repository: Ed-Fi-Alliance-OSS/Ed-Fi-ODS
          path: Ed-Fi-ODS/
          token: ${{ secrets.REPO_DISPATCH_TOKEN }}
    - name: Is pull request branch exists in Ed-Fi-ODS
      working-directory: ./Ed-Fi-ODS/
      shell: pwsh
      run: |
           .\build.githubactions.ps1 CheckoutBranch -RelativeRepoPath "."        
    - name: Checkout Ed-Fi-ODS-Implementation
      uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579 # v2
      with:
          repository: Ed-Fi-Alliance-OSS/Ed-Fi-ODS-Implementation
          path: Ed-Fi-ODS-Implementation/
          token: ${{ secrets.REPO_DISPATCH_TOKEN }}
    - name: Is pull request branch exists in Ed-Fi-ODS-Implementation
      working-directory: ./Ed-Fi-ODS/
      shell: pwsh
      run: |
            .\build.githubactions.ps1 CheckoutBranch -RelativeRepoPath "../Ed-Fi-ODS-Implementation"
    - name: Set Current Branch Environment Variable
      shell: pwsh
      run: |
        $current_branch = '${{env.REF_NAME}}'
        if ($current_branch -like "*/merge"){
          $current_branch = '${{env.HEAD_REF}}'
        }
        Write-Host "Current Branch: $current_branch"   
        echo "current_branch=$current_branch" >> $Env:GITHUB_ENV                   
    - name: Dispatch InitDev (Postgres), Multitenancy workflow
      uses: codex-/return-dispatch@290d1ad3ca0a323120745aea7a44ce63ed91a982 #v1.8.0
      id: return_dispatch_InitDevPostgresMultitenancy
      with:
        token: ${{ env.EDFI_ODS_IMP_TOKEN }}
        ref: ${{  env.current_branch  }}
        repo:  Ed-Fi-ODS-Implementation
        owner: ${{ github.repository_owner }}
        workflow: InitDev (Postgres), MultiTenancy.yml
        workflow_timeout_seconds: 4800
    - name: Await to complete the execution for InitDev (Postgres), MultiTenancy RunID ${{ steps.return_dispatch_InitDevPostgresMultitenancy.outputs.run_id }}
      uses: codex-/await-remote-run@d04eeb1e053a19a32037eb0b8ddee6ab4f19790a #v1.7.0
      with:
        token: ${{ env.EDFI_ODS_IMP_TOKEN }}
        repo: Ed-Fi-ODS-Implementation
        owner: ${{ github.repository_owner }}
        run_id: ${{ steps.return_dispatch_InitDevPostgresMultitenancy.outputs.run_id }}
        run_timeout_seconds: 4800
        poll_interval_ms: 5000
